[2015-03-17 09:10] cathay4t opened #2 "Migrate from sf.net to github"
Just for tracking the migration progress:
 * Document: (in code tree or separate as wiki, Gris: prefer in code tree)
  * top folder readme file.
  * User guide
  * Dev guide
   * Lib dev guide. (C and Python)
   * C Plugin dev guide.
   * Python Plugin dev guide.

 * Wiki:
  * Known issue/bugs
    List known issue of plugin or arrays.
    Like HDS VPD83 issue which could gone if HDS fix it in thei

[2015-04-02 14:14] cathay4t commented on #2
All set except mail list auto reply.
Will set 'auto-reply' on sf.net mail list next week(09 April 2015).

[2015-04-21 13:14] cathay4t commented on #2
TODO:
* Email Gmane to request mailing list archive and mailing list address update.
* Shutdown sf.net mailing list for good.

[2015-06-03 11:58] cathay4t opened #17 "Incorrect error message of simulator plugin for old state file."

[2015-06-03 12:00] cathay4t commented on #17
Currently, it's

[code]

Should be

[code]

Root cause: the old state file is not a sqlite file.

[2015-06-03 13:23] cathay4t commented on #17
Fix in pull request: https://github.com/libstorage/libstoragemgmt/pull/18

[2015-06-03 16:47] tasleson commented on #2
With all the controversy with sf.net as of late, I'm tempted to delete our historical project from sf.net in the near future.

[2015-06-04 08:33] cathay4t commented on #17
Fixed.

[2015-06-04 08:33] #17 closed

[2015-06-04 13:34] cathay4t opened #19 "Got unexpected extra message on C plugin error message."
If certain C plugin does not implement certain method, lsmcli will get this error message:

[code]

If certain C plugin raise an error, a tailing unexpected `Data:` will be  included:

[code]

We should eliminate these unnecessary extra string.

[2015-06-05 08:25] cathay4t commented on #19
Patch posted at pull request: https://github.com/libstorage/libstoragemgmt/pull/20

[2015-06-10 12:06] cathay4t commented on #19
Pull request merged. Closing this issue.

[2015-06-10 12:06] #19 closed

[2015-06-10 12:07] cathay4t opened #22 "Add man pages to existing plugins."
Just send an V2 patch set base on previous sent patch.

[2015-06-10 12:09] cathay4t opened #23 "Review openSuSE libstoragemgmt package."
https://build.opensuse.org/package/show/Base:System/libstoragemgmt

Their post script is incorrect about plugin install/remove.

Try fork in their build system and commit back.

[2015-06-12 13:21] cathay4t commented on #22
Done via pull request https://github.com/libstorage/libstoragemgmt/pull/21

[2015-06-12 13:21] #22 closed

[2015-06-15 12:35] cathay4t opened #26 "Handle Pool.STATUS_VERIFYING in ONTAP and MegaRAID plugin."
- Verifying RAID integrity.
  - ONTAP -- Pool.STATUS_OK
    Currently plugin has no idea about it.  Need to use
    'aggr-mediascrub-list-info' command
  - MegaRAID -- Pool.STATUS_OK
    Currently plugin has no idea about it.  Need to use
    '/c0/v1 show cc' command
- Expected -- Pool.STATUS_VERIFYING

[2015-06-16 08:06] cathay4t opened #27 "On EMC VMAX, certain(VDEV) volume is came from two StoragePool."
[code]

The `SYMMETRIX-+-000194900393-+-S-+-DEFAULT_POOL` is the pool for delta only.

The volume `lsm_v_c__EGAA` is an snapshot target which is from snapshot source pool and delta pool.

This also cause `pool_id_of_cim_vol()` fail for founding two pools.

Currently, we didn't have good way to handle this.

[2015-06-16 09:08] cathay4t opened #28 "Work with targetd guys to fix targetd plugin about fs methods"
With RHEL 7.1 targetd 0.8.1, the `btrfs subvolume list -ua <path>`
provide additional string `<FS_TREE>/` which cause targetd 0.8.1 return
empty list for `fs_list` command.

This cause all LSM fs related methods failed on targetd plugin.

Need future investigation.

[2015-06-24 00:01] tasleson commented on #28
I've posted patches to targetd development list that allow us to pass the fs tests on my local development system.  Once those are committed and a new release to cut we should hopefully pass.

I will patch the automated development server to run with the patches to see if we can run clean in that environment too.

[2015-06-24 00:39] agrover commented on #28
thanks. @tasleson, 0.8.2 published. BTW both of you are collaborators on targetd now.

[2015-06-28 01:56] cathay4t opened #32 "HP Smart Array does not support enclosure."
lsmcli lv will got error:
[code]

The `hpssacli ctrl all show config detail` output is:

[code]

[2015-06-28 02:00] cathay4t opened #33 "MegaRAID plugin does not support JBOD config."
LSI MegaRAID allows user to configure disks as JBOD which expose physical disks directly to host.

This requires:
~~1. Treat JBOD disk as lsm.Volume.~~
~~2. Create JBOD disk as lsm.Pool.~~
~~3. Allowing JBOD as RAID type when invoking `lsm.Client.volume_raid_create()`.~~
~~3. `lsm.Client.volume_raid_create()` to convert free disk to JBOD on MegaRAID.~~
~~4. `lsm.Client.volume_delete()` convert JBO

[2015-06-28 02:02] cathay4t commented on #2
We can do in 1.3 release which I will merge all existing sf.net wiki to github pages.

[2015-07-01 19:04] joehandzik commented on #32
Hey @cathay4t, feel free to ask me questions about how best to implement this, or farm out tasks to me. I worked directly in the hpsa driver for 3+ years.

Keep in mind that we recently (Gen9 controller series) released PMC-based HBAs (Smart HBAs). So, we'll want to make sure this works well with both the traditional RAID controllers and the new HBAs (the HBAs should be reasonably standards-based,

[2015-07-02 01:15] cathay4t commented on #32
@joehandzik From my point of view, the best implementation is using library/API
instead of binary tool output. Currently, I am guessing the meaning, format,
possible properties of `hpssacli` output which is clearly not a good practise.

Base on existing GPL `cciss_vol_status` codes, I could code an open source
friendly GPL library for hpsa management. But `cciss_vol_status` only provides
query IOC

[2015-07-02 01:37] joehandzik commented on #32
Yes, the PMC-based Gen9 controllers will still use hpsa. However, cciss_vol_status won't get you full compatibility with what hpssacli provides (unfortunately). There's an internal commandset called BMIC that is not open source.

I'll see what I can do here. I've thought about these same things, it would be ideal to have some way to interact directly with the core libraries. It wouldn't happen soo

[2015-07-02 19:50] joehandzik commented on #32
Looking at this a bit more closely...

There are two chunks of data in the show all detail command for each SEP:

   Enclosure SEP (Vendor ID HP, Model Gen8 ServBP 25+2) 377
      Device Number: 377
      Firmware Version: 3.30
      WWID: 5001438021175953
      Port: 1I
      Box: 1
      Vendor ID: HP
      Model: Gen8 ServBP 25+2

I don't know that this is a Smart Array problem, just a quirk. I

[2015-07-02 21:22] joehandzik opened #35 "configure: error: Missing yajl development headers"
When running "./configure --prefix=/usr", I get the error in the title. I'll find the library just fine, but I figured I'd post this up here as an FYI in case this isn't supposed to be a required dependency. If it is, it might be nice to have an install-deps script or something like that.

[2015-07-03 02:04] cathay4t commented on #32
Looks like another incorrect indent to me.

As we might stick with hpssacli tool for a while(before GPL library came out), when you check with engineering, is that possible to ask this new feature?
 * Add new command line option to allow output show as JSON.

The LSI MegaRAID storcli tool use 'J' command line option to show output as JSON which
save us a lot time of parsing output.

[2015-07-03 03:45] cathay4t commented on #32
@joehandzik I fixed this issue in pull request https://github.com/libstorage/libstoragemgmt/pull/36 ,
please kindly review it when you have time.
Thank you.

[2015-07-07 18:26] joehandzik opened #37 "Support HP Smart HBAs and HBA Mode on Gen9 controllers"
Hey guys,

Leaving this here as an FYI, and will probably take this task on myself. Similar to what you describe for issue #33, Gen9 Smart Array controllers also let you configure the storage controller for raw disk access. So whatever the abstraction path ends up being for the MegaRAID tool, we'll need the same thing for the HPSSACLI tool.

[2015-07-09 16:30] tasleson commented on #35
@joehandzik Just to clarify, when you say you **find the library just fine** is it that you are finding the shared object or that you actually have the header files too?  On a rpm based box you need both yajl and yajl-devel, otherwise you won't have the yajl header files to compile against.  To build from source you need the dependencies outlined here: http://libstorage.github.io/libstoragemgmt-do

[2015-07-09 16:30] tasleson commented on #28
Issue should be resolved with 0.8.2

[2015-07-09 16:30] #28 closed

[2015-07-09 16:33] joehandzik commented on #35
That's a good point, I should have circled back here. I went through the process of setting this all up without realizing that the link you just pointed me to existed. :( I suppose I was surprised to see how many dependencies there were, and noted that a script to install those would have been an ideal solution from a new user's perspective. I'll close this out.

[2015-07-09 16:33] #35 closed

[2015-07-24 18:54] joehandzik opened #42 "lsm still chokes on enclosure devices with hpssacli"
Version of hpssacli: 2.30.2.0
Version of lsmcli: 1.2.3
Tested on: DL380 Gen9 w/ 12 LFF 6TB HDDs, connected to 12G PCI-e expander

run 'lsmcli list --type volumes', get:
PLUGIN_BUG(2): _parse_hpssacli_output(): Found duplicate line Enclosure SEP (Vendor ID HP, Model 12G SAS Exp Card) 377

I'll find a way to fix it. :)

[2015-07-24 21:31] joehandzik commented on #42
This is inaccurate. The real problem is that I wasn't uninstalling the previously built version of lsm before installing a new one, which caused all sorts of weirdness.

[2015-07-24 21:31] #42 closed

[2015-08-04 13:27] cathay4t opened #46 "Should raise INVALID_ARGUMENT error on incorrect URI scheme."
[code]

[2015-08-08 14:47] cathay4t commented on #37
Sure thing.

[2015-08-26 02:01] cathay4t opened #49 "2.0 change plan"
- C `lsm_system.status` is `uint32_t`, while other is `uint64_t`.
- Mix case in `lsm_plug_Job_status()`
- The C struct name should be LsmPool or LSM_pool, or user might get conflict
  when using `lsm_pool` variable.
- Introduce monitor thread for error callback.
- Can we make C API method name shorter.
- C: remove typedef?
- Remove search_key as no plugin support it.
- Remove flags?
- C `lsm_syste

[2015-08-27 13:30] cathay4t commented on #23
Fixed.

[2015-08-27 13:31] #23 closed

[2015-09-18 12:42] cathay4t opened #54 "Initial pointer in handle_system_list of c_binding/lsm_plugin_ipc.cpp"
[code]

[2015-09-21 16:04] joehandzik opened #55 "Install docs for Rhel7 don't actually cover all required packages"
Just an FYI for anyone who has time to get around to cleaning up the documentation here: http://libstorage.github.io/libstoragemgmt-doc/doc/install.html

It didn't cover a couple of steps I needed to execute:

yum install libmicrohttpd*
yum install json-c*

[2015-10-14 08:42] cathay4t commented on #55
@joehandzik I don't get what you mean.

That page already has these lines for RHEL/Fedora:
[code]
and many others for opensuse and debian.

[2015-10-14 08:43] cathay4t opened #59 "MegaRAID: PLUGIN_BUG when no disk found."
[fge@megadeth ~]$ sudo lsmenv mega lsmcli ld
Device alias: mega
URI: megaraid://
lsmcli ld
PLUGIN_BUG(2): cmd: '/opt/MegaRAID/storcli/storcli64 /c0/eall/sall show all J', errno: 255, stdout: '{
"Controllers":[
{
        "Command Status" : {
                "Controller" : 0,
                "Status" : "Failure",
                "Description" : "No drive found!"
        }
}
]
}', stderr: ''

[2015-10-14 16:29] joehandzik commented on #55
Yeah, I realized that a little while ago...I still don't think that's the best way to deal with this though. The instructions as they're worded are perhaps acceptable for someone installing as a package, but for development it's not really an "option". How about we work on an "install_deps.sh" script instead? Take some of the guesswork out of it? See: https://github.com/ceph/ceph/blob/master/insta

[2015-10-15 03:03] cathay4t commented on #55
For developer, how about this page:
http://libstorage.github.io/libstoragemgmt-doc/doc/lib_dev_guide.html#1-setup-developer-environment

IMHO, `install_deps.sh` might requires extra un-needed care on different linux releases.
I prefer leting user follow the document to install required packages than asking user to
run a complex script with root permission.

[2015-10-15 03:22] joehandzik commented on #55
Ok, just a suggestion. I do see that you've got a developer-specific set of install guides, which I can live with.

[2015-10-15 03:22] #55 closed

[2015-10-16 15:46] tasleson opened #61 "nstor plugin: Incorrect vpd"
======================================================================
FAIL: test_volume_vpd83 (__main__.TestPlugin)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/testing/automated/23949/libstoragemgmt/test/plugin_test.py", line 368, in test_volume_vpd83
    (v.vpd83, v.id))
AssertionError: VPD is not as expected '' for volume id

[2015-10-22 08:42] cathay4t commented on #33
Simple add new disk status: `lsm.Disk.STATUS_HBA` and forcing `lsm.Disk.id` as the VPD83 NAA ID would be enough.

[2015-10-22 15:25] joehandzik opened #62 "lsm email addresses are next to the wrong hotlink"
Currently, on http://libstorage.github.io/libstoragemgmt-doc/

Developer Mailing list: libstoragemgmt-users@lists.fedorahosted.org
User Mailing List: libstoragemgmt-devel@lists.fedorahosted.org

Should be:

Developer Mailing list: libstoragemgmt-devel@lists.fedorahosted.org
User Mailing List: libstoragemgmt-users@lists.fedorahosted.org

But hey, now I'm just signed up for both mailing lists. :)

[2015-10-22 18:19] tasleson commented on #62
Corrected with https://github.com/libstorage/libstoragemgmt-doc/commit/16a06b94e05cf55b050d2b58ddcbe24f22383be6

Thanks @joehandzik

[2015-10-22 18:19] #62 closed

[2015-10-27 18:37] tasleson commented on #61
For some reason the array got into a weird state where one of the volumes could not be looked up with 'get_lu_props', not exactly sure how we got into this state, but I deleted the volume in question and we appear to be getting the vpd values with manual command line usage.

[2015-10-27 18:37] #61 closed

[2015-10-27 18:39] joehandzik commented on #37
I'd say this is functional...been using it for a while. Closing!

[2015-10-27 18:39] #37 closed

[2015-10-27 22:21] tasleson opened #67 "nstor: Incorrect system id for FileSystems & AccessGroups"
Updating test case to catch

[2015-10-27 22:28] tasleson commented on #67
Fixed with efa8a6c97397813d01f6a2e1bc9513b543248216

[2015-10-27 22:28] #67 closed

[2015-10-30 13:11] cathay4t opened #68 "lsm_disk_record_alloc() does not have plugin_data."
Since API has released, we can add it in the way of `lsm_system_mode_set()`.

[2015-11-02 14:00] cathay4t opened #70 "Better output for test cases."
Joe@HP point out we might improve our debug output of `make check`.
For example:
 * Maybe we could provide more informations for `plugin_test.py` failure.

[2015-11-16 06:41] cathay4t opened #73 "gcc warning about `_STD_MAP_HAS_KEY`"
[code]

[2015-11-23 14:49] tasleson opened #74 "Make python3 compatible"
https://bugzilla.redhat.com/show_bug.cgi?id=1282899

## Issues encountered thus far ##

- `M2Crypto` does not support python3 **(Done)** I've re-implemented the encryption algorithm in python
- `pywbem` does not support python3, we need to transition to `python3-lmiwbem` and ~~`python2-lmiwbem`~~ Use pywebm for python2, lmiwbem for python3
- C binding needs to be modified to support python2 and py

[2015-12-01 08:11] cathay4t opened #75 "automake 1.15 use '_build/sub' folder instead of '_build' for distcheck"
The changes made by automake 1.15 will cause `make distcheck` fail.

[2015-12-01 08:19] cathay4t commented on #75
https://lists.gnu.org/archive/html/automake/2015-01/msg00005.html

[2015-12-01 08:45] cathay4t commented on #75
Maybe move `make check` to the top Makefile and use `pwd` as _build folder would works.

[2015-12-07 13:53] cathay4t commented on #75
Closing as I am activly working on this issue in RP.

[2015-12-07 13:53] #75 closed

[2015-12-07 13:55] cathay4t opened #78 "Python 2.7.10 miss behaive on `add_subparsers`"
The seperater defined in `lsmenv sim lsmcli -t, list --type systems` does not work.

Might be python regression.

This cause cmdtest silently skiped.

[2015-12-09 14:06] cathay4t commented on #78
This is caused by https://bugs.python.org/issue23058 introduced by python 2.7.9.
As that was closed as 'not a bug', we should considering a workaround for this.

[2015-12-09 15:51] tasleson commented on #78
Based on the comments it appears we are just depending on a bug that was fixed.  So looking at this commit is suppose to be educational: https://github.com/nickstenning/honcho/commit/1319da72f2ae0dc14d6f0631ce654007691cd839

[2015-12-09 16:13] cathay4t commented on #78
Closing this issue. Fixed in PR #76

[2015-12-09 16:13] #78 closed

[2015-12-15 14:28] cathay4t opened #79 "Add depenency file"
Files user could use to install depenency:
[code]

[2016-01-04 22:18] joehandzik opened #81 "Functionality still needed"
Hey guys,

Feel free to let me know if there's a different place you'd prefer to have me put this content. Thank you very much to @cathay4t for his work in helping me fix my own PRs and refactoring some of my requested functionality to better fit into lsm. The following is the rest of what I'd like to see added in the short term to lsm to suit what I'm driving towards across a few different storag

[2016-01-05 13:05] cathay4t opened #82 "lsm_scsi.c: Might retrieve target port NAA ID."
Should check `ASSOCIATION == 0`.

[2016-01-05 13:42] cathay4t commented on #81
@joehandzik Thank you. I will look into these.

1. Easy job, I will allow plugin provide this info and check whether we create library level method also
    for SES disks.

2. I will create a library function like `sg_path_of_sd_path("/dev/sdb")`. But why we need it instead of 5).

3. Need to read some T10 SPEC to find more generic way for retrieving SAS address of both SES and non-SES disks.

4.

[2016-01-05 16:35] joehandzik commented on #81
1. Awesome! Would my current PR about that functionality be an acceptable starting point?

2. Seems like a good enough method. Use cases I can think of: as the target of a drive firmware flash and to retrieve SMART data from a physical disk. Beyond the use cases, some customers just like to be able to see that data for their own metadata and topology tracking purposes (again, think about what lssc

[2016-01-06 03:19] cathay4t commented on #81
OK. I will look into your PR #65 and work on `lsm_scsi_disk_ident_led_set()`.
After that we back to this topic about sg again.

[2016-01-26 01:50] cathay4t opened #86 "Incorrect usage of `strerror(errno)` in ` _sg_io_ioctl_vpd()` of `lsm_scsi.c`"
When certain VPD page is supported but failed to query it out, the `errno` is reset to 0 when querying
the page 0x00, we need to store the original `errno` before making another VPD query.

[2016-01-26 03:02] cathay4t commented on #86
Sorry, this is not commited code, but in a existing PR.
Closing and fix them in current PR.

[2016-02-09 17:10] joehandzik opened #90 "libstoragemgmt fails when a system does not have a serial number"
We at HPE intend to fix this, but I'm documenting here so I don't forget. We've been running some tests on a variety of configurations, and for our B140i Dynamic Smart Array mode (our SW RAID implementation), apparently libstoragemgmt errors out rather than just skipping over the system.

Is there a preferred method of handling this? My thought (as I alluded to) is to just skip the system entirely

[2016-02-09 17:17] tasleson commented on #90
I would suggest taking anything that is unique and relatively stable for the system and take the md5 of it and use it in place of the missing serial number, perhaps the name?

[2016-02-09 17:22] joehandzik commented on #90
Not a bad idea, we'll look into that. The good news here is that there will never be two "B140i" controllers in a single system, so your implementation suggestion seems to work for current architectures.

[2016-02-11 05:22] cathay4t commented on #90
@joehandzik Could you send me the output of `hpssacli ctrl all show config detail` on "B140i"?
I might be able to craft some workaround on issue.

[2016-02-16 19:10] joehandzik commented on #90
Hey @cathay4t, sorry for the delay, long weekend here. I think we have a solution (we're going to use the chassis serial number for the B140i, an md5 of the name wouldn't work uniquely to distinguish boot controller in a cluster environment), but if we run into trouble I'll post the output here and have you take a look. I expect a PR in the next couple of days. Thanks!

[2016-02-17 01:05] cathay4t opened #91 "[RFC] Library level function for ident and fault LED"
Initial design:
* ~~~C: `int lsm_scsi_ident_led_set(const char disk_path, lsm_error *lsm_err)`~~~
* C: `int lsm_local_disk_ident_led_set(const char disk_path, lsm_error *lsm_err)`
* ~~~Python: `lsm.SCSI.ident_led_set(disk_path)`~~~
* Python: `lsm.LocalDisk.ident_led_set(disk_path)`
* And others for fault led and clear functions.

Workflow:
* Use SGIO in C. (Python API just a wrap via lsm._scsi_cli

[2016-02-22 19:01] joehandzik commented on #91
This sounds good, @cathay4t, it mirrors the flow I have in my fork and drops the requirements I injected for lsscsi and sg_ses. I'm glad you knew about SGIO, seems like the best option for what I've requested. Thank you for all your work here!

[2016-02-22 19:02] joehandzik commented on #91
One concern I do have though is with Intel AHCI/SATA controllers. They support IBPI. Will we be able to someday support those devices with generic inquiries too? I suppose the right way to do that would be to create a "IBPI://" plugin, eh? It's not a priority for me, but I'm sure some users would appreciate it.

[2016-02-22 19:05] joehandzik commented on #90
Update: I have a fix that has worked around this issue and another similar issue with the B1x0i series on our side. I'm OoO today, but I'll generate a PR tomorrow.

[2016-02-23 01:48] cathay4t commented on #91
@joehandzik I intend to change function name to `lsm_block_xxx` which indicate we will ATA or NVMe in the future in PR #92
Yes. We could support IBPI in the future. But instead of creating new plugin, I would like to extend the
`lsm_block_ident_led_set` to support IBPI, let the library auto choose SES or IBPI or others tech used by
intel project [ledmon][1].

[1]: https://sourceforge.net/projects/

[2016-02-23 17:05] joehandzik opened #93 "'sudo make check' fails with "Use of uninitialized value $class_line", 'make check' passes"
Hey guys,

Was really freaked out when my unit tests were failing for a very small commit, so I pulled master and ran again. I get a very quick 'make check' failure (running as root, so 'sudo make check'), with this error message:

Use of uninitialized value $class_line in pattern match (m//) at /home/jhandz/lsm_debug_unit_testing/tools/utility/check_const.pl line 283.

Pilot error, or does someth

[2016-02-23 17:47] tasleson commented on #93
@joehandzik I just did:

[code]

worked for me.

I never run any of these checks as root.

[2016-02-23 19:33] joehandzik commented on #93
You are right! This passes when not run using 'sudo'. Previously, sudo had always worked...lemme edit the title to make the issue clear, and I'll leave it up to you guys if it's an issue worth fixing.

[2016-02-23 19:38] joehandzik commented on #93
Even 'sudo -E' fails, so it's not an environment variable issue as far as I can tell, even though the error would lead me to believe that is the issue...

[2016-02-24 00:25] cathay4t commented on #93
@joehandzik @tasleson This issue has been fixed in PR https://github.com/libstorage/libstoragemgmt/pull/92

[2016-02-24 16:39] joehandzik commented on #90
Fixed in PR #94, close this when you accept the PR. Thanks!

[2016-02-24 17:31] #90 closed

[2016-02-26 20:43] tasleson commented on #93
PR merged, closing.

[2016-02-26 20:43] #93 closed

[2016-03-02 16:34] tasleson commented on #73
Addressed with 686a5882449084e1654fea6018b9b49958a61af6

[2016-03-02 16:34] #73 closed

[2016-03-02 16:41] tasleson commented on #32
PR #36 merged, closing.

[2016-03-02 16:41] #32 closed

[2016-03-02 21:05] tasleson commented on #54
Addressed with e9469035dacb07418f5965ffe44be5b19974f768

[2016-03-02 21:05] #54 closed

[2016-03-02 21:06] tasleson commented on #46
Addressed with d270f6d503615e98494664cdf9d570689efcb482

[2016-03-02 21:06] #46 closed

[2016-03-05 07:06] #86 closed

[2016-03-05 07:07] cathay4t opened #97 "Should not raise 'no deamon' error when checking help message of lsmcli."
[code]

[2016-03-08 23:46] joehandzik opened #98 "LSM_IS_CAPABILITIY should be LSM_IS_CAPABILITY"
I'll fix, just making a note here so I don't forget. There are three locations that I found (easy to find via a search in the github search bar).

[2016-03-12 06:49] cathay4t opened #99 "Issues Gris will fix before 1.3"
* ~~Change argument 'sd_path' to 'disk_path' in c library.~~
* ~~Fix hpsa when creating volume using ssd disk. Need the `forced` option.~~
* ~~Fix non-JBOD disk's VPD83.~~
* ~~Change `lsm_system_mode_get()` to `lsm_system_mode_type lsm_system_mode_get(lsm_system *s)`.~~
~~* Add support of volume delete in megaraid.~~
* ~~Change megaraid volume ID to VPD83 if available.~~
* ~~Speed up sim plugin in

[2016-03-28 16:36] tasleson commented on #98
Fixed with https://github.com/libstorage/libstoragemgmt/pull/100

[2016-03-28 16:36] #98 closed

[2016-03-31 20:03] joehandzik opened #104 "Sys mode checks the wrong system values for pass/fail determination"
https://github.com/libstorage/libstoragemgmt/blob/master/test/plugin_test.py#L326

[2016-04-01 05:58] cathay4t commented on #91
Closing this issue.
Please continue the discussion in PR #105.

[2016-04-04 00:59] #91 closed

[2016-04-04 19:33] joehandzik opened #106 "Request for comments: Option flags/settings for creating arrays and volumes"
Hey guys,

First, I have a new requirement. The same user that wants the read/write cache control also would need specific control over some options for creating volumes and arrays on Smart Array. For example, they create volumes on SSDs, but want to continue to use the controller BBWC with those SSDs (it just makes sense for their IO pattern). So, the command line option using hpssacli would look

[2016-04-04 21:39] tasleson commented on #106
@joehandzik The flags parameter is intended to handle small tweaks to the API, but it really shouldn't be utilized for vendor specific features.  Is `aa` aka. `array accelerator` really just marketing speak for `cache`?  If that's true then I would be OK with adding a generic parameter flag value(s) for enable/disable use of system cache during volume creation.  However, from a generic API standpo

[2016-04-04 22:30] joehandzik commented on #106
@tasleson Yup, aa is HPE-boy-aren't-we-special speak for the controller cache (or BBWC, if you will :D). It's relevant for SSD arrays and volumes in particular, because something else is enabled by default on those (a mode where IOs are sent directly to the SSD when possible). Since it happens by default, I don't really think we need a flag that forces the bypass mode to be enabled, but effectivel

[2016-04-05 06:11] cathay4t commented on #106
@joehandzik Sounds like we are discussing this PR #16 which add functions like `volume_write_cache_policy_set()` might be what you need.

[2016-04-05 09:14] cathay4t commented on #106
BBWC == Battery Backed Write Cache.

[2016-04-05 16:04] joehandzik commented on #106
@cathay4t That gets us some of the way there, but I'd still like to enable users to make that decision at creation time if they know what they're doing. For that particular change, we'll need to add an option to enable the BBWC on a per-volume basis. I don't think the code you have now will actually apply caching policies to the volumes, but I'll need to give the option you've found a try (I wasn'

[2016-04-06 06:21] cathay4t commented on #33
Closed as `lsm.System.mode` has been introduced.

[2016-04-06 06:21] #33 closed

[2016-04-06 21:45] #104 closed

[2016-04-08 12:16] cathay4t opened #109 "disk.location should be accessable by lsmcli."
BTW, all the disks in sim plugin are using the same location, try to change it meanwhile.

Just note down, I(Gris) will take care of this issue.

[2016-04-08 14:54] joehandzik commented on #109
You want a separate command to query the data, or add it into the default 'lsmcli ld' output? I'm assuming the former, the latter is a bit redundant since an existing entry in that table has the same data already.

[2016-04-09 12:12] cathay4t commented on #109
I intend to have it listed in 'lsmcli ld -s' mode.

[2016-04-12 13:51] cathay4t opened #112 "plugin_test should mark certain test as skipped if not supported."
Currently, plugin test silently mark certain test as pass if required capability is not supported.

[2016-04-12 15:54] joehandzik commented on #81
@cathay4t I'm going to close this out. I think you've covered the minimum for what I need, though I would like to yank the disk sas addresses and scsi generic paths out at some point. Thanks!

[2016-04-12 15:54] #81 closed

[2016-04-13 12:37] cathay4t commented on #81
No problem. If you got user case needs sas address or /dev/sgX, let us know.

[2016-04-15 12:50] cathay4t opened #116 "Compile warning on tester.c: test_read_cache_pct()"
[code]

[2016-04-15 12:51] cathay4t commented on #116
@joehandzik Any time to fix this?

[2016-04-15 13:04] joehandzik commented on #116
Yup, will fix today!

Joe

On Apr 15, 2016, at 7:52 AM, Gri Ge <notifications@github.com<mailto:notifications@github.com>> wrote:

@joehandzik<https://github.com/joehandzik> Any time to fix this?

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/libstorage/libstoragemgmt/issues/116#issuecomment-210451522>

[2016-04-19 19:44] #116 closed

[2016-04-21 13:29] joehandzik opened #118 "Controller mode not present for older controllers on older firmware"
On a P420i, a user ran into a situation where the latest hpssacli did not expose the controller mode. I'll fix in a PR today.

[2016-04-21 14:01] joehandzik opened #120 "HPE Smart Array plugin does not register support for the VOLUME_DELETE capability"
It's not a bug, but hpssacli can certainly delete a volume. I'll see if I can add this support in time for 1.3 also.

[2016-04-21 20:23] #118 closed

[2016-04-21 20:56] wattsteve opened #123 "Docs - Docker Compose Example"
I'm trying to figure out how to use this with Compose and Swarm. Is there a simple compose example that you could point me to that shows how to describe usage of the Docker LibStorage volume plugin with a standard interface like NFS or iSCSI in YAML?

[2016-04-21 21:34] joehandzik commented on #123
Possibly a stupid question, but...do you actually mean to be asking this question in the libstoragemgmt github? OR, do you actually mean to be asking about this project: https://github.com/emccode/libstorage

I came across that emccode repo a while back, wondered if anyone would confuse it with libstoragemgmt. The libstorage repo has more clear claims about Docker compatibility. From your question

[2016-04-21 21:38] wattsteve commented on #123
@joehandzik Aargh. You're completely correct. Closing and #facepalm

[2016-04-21 21:38] #123 closed

[2016-04-21 21:46] joehandzik commented on #123
Go figure, a third option! I think we all might need to get more creative with our storage library naming...

[2016-04-21 22:11] #120 closed

[2016-04-26 19:57] tasleson opened #126 "Make the return value documentation clearer"
Follow what is established in 9969134f3d37ea26d68d8443c25726ca96c8b1cb by @BlaineEXE

[2016-04-26 21:25] joehandzik commented on #126
@BlaineEXE, hey, if you have some spare cycles, I think your doxygen expertise would be appreciated in getting this done.

[2016-04-27 12:50] cathay4t commented on #82
Fixed in commit 435a84b207c05293c529823828c1ce88fc41dcd5

[2016-04-27 12:50] #82 closed

[2016-04-27 16:17] BlaineEXE commented on #126
I may not be able to get to this today, but I think this week is going to be the best time to fit it in. I'll do what I can. If you or Tony have any inputs about where is best to start first and/or what items have priority, I will be sure to start there.

[2016-04-27 16:39] tasleson commented on #126
@BlaineEXE Thanks for helping out with this.  I was thinking about starting in the include directory starting with `libstoragemgmt.h` and then walking through the other header files.

[2016-04-28 10:31] cathay4t opened #128 "`xxx_update` naming scheme for lsm_volume_ident_led_set()"
Should we change `lsm_volume_ident_led_set()` to `lsm_volume_ident_led_on()` and `_off()`?

[2016-04-28 12:54] joehandzik commented on #128
So, the reason why I went with _set and _clear is because those are the terms that sg_ses uses: http://sg.danny.cz/sg/sg_ses.html#mozTocId57479

My expectation is that most people who use these APIs will be familiar with that tool, so I chose a familiar name. We can easily change to _on and _off if folks are in favor of that. Thoughts, @tasleson? Or @BlaineEXE?

[2016-04-28 13:18] tasleson commented on #128
@joehandzik @cathay4t In this specific case `on` and `off` would be good as it logically makes sense for something that illuminates.

[2016-04-28 13:22] joehandzik commented on #128
@tasleson Sounds fair, I'll submit a pull today to change them.

[2016-04-28 17:01] BlaineEXE commented on #126
I see that there are some functions (specifically in libstoragemgmt_systems.h) that have possible return values recorded. Doxygen allows the `/retval` tag for listing return values. While I'm working on this, it's pretty easy to make this change. Is this something you'd like to see me move forward with?

![image](https://cloud.githubusercontent.com/assets/3989526/14894352/c378a8fc-0d38-11e6-964f-a

[2016-04-28 18:33] tasleson commented on #126
My vote would be yes, thanks!

[2016-04-28 18:42] tasleson opened #131 "Incorrect job percentage"
Gris posted some output which shows:

`VOLUME: Job JOB_ID_00001 in progress, 253 done, status = 1`

253 for progress should not be possible, need to investigate.

[2016-04-28 21:53] tasleson opened #133 "Add bash completion for added command line options for 1.3"

[2016-04-29 03:54] cathay4t commented on #131
Fixed by 42d7d3128dded801eb40f5480898d892465cac78

[2016-04-29 03:54] #131 closed

[2016-04-29 10:06] cathay4t opened #134 "C unit test `test_local_disk_link_type` is not enabled."

[2016-04-29 10:08] cathay4t commented on #134
Fixed in 5e611bd455206183ae1d4ff1c7e25eb3d1355cb8

[2016-05-02 12:20] cathay4t opened #135 "How about loosen restriction of VPD83 id to support NVMe disks."
@joehandzik @tasleson

Currently, we are defining the VPD83 ID as VPD83 NAA ID which is not supported by NVMe disks yet.

The NVMe disks only expose SCSI VPD83 string ID which translate from NVMe serial:
[code]

How about we make an exception in `lsm_local_disk_vpd83_get()` and `lsm_local_disk_vpd83_search()`
to allow VPD83 sting ID as fallback?

[2016-05-02 12:30] joehandzik commented on #135
I think that's fine, Gris. I saw some similar trickery in Ceph's spdk usage.

Joe

On May 2, 2016, at 7:21 AM, Gris Ge <notifications@github.com<mailto:notifications@github.com>> wrote:

@joehandzik<https://github.com/joehandzik> @tasleson<https://github.com/tasleson>

Currently, we are defining the VPD83 ID as VPD83 NAA ID which is not supported by NVMe disks yet.

The NVMe disks only expose SCSI

[2016-05-02 12:45] cathay4t commented on #135
Another update on NVMe, with NVMe 1.2+(not sure what does this mean yet), linux kernel expose VPD83 EUI64 ID for NVMe disks.

[2016-05-02 13:16] joehandzik commented on #135
I guess we have three options (as far as I see):

1. Stick with the VPD83 string ID for all NVMe devices (I'm assuming they still expose it even with NVMe 1.2+)
2. Make the EUI64 ID the desired ID for NVMe devices, and fall back to the VPD83 string ID when it's not present (kind of like how we handle the the sas address sysfs attribute versus the value from the page inquiry)
3. Mark NVMe as unsupp

[2016-05-02 13:32] cathay4t commented on #135
From the kernel code, it seems once spec 1.2 is supported, EUI64 ID is replacing string ID. So option 1) out.

Using option 2) will alter the definition of `lsm_local_disk_vpd83_search()` and also make it complex[1].

Let's just add this line into `lsm_local_disk_vpd83_get()` and `lsm_local_disk_vpd83_search()`:

`NVMe is not supported yet, the definition of _vpd83_get() and _vpd83_search() might

[2016-05-02 13:42] joehandzik commented on #135
@cathay4t Ok, gotcha. It does sound complex and awfully in-flux. We'll see what @tasleson thinks, but for now I'm with you and leaning towards keeping NVMe unsupported. It could be made use of in Ceph today, but most other scale-out solutions are still using SAS/SATA for cost reasons. I think we're in great shape if we can support NVMe well within 2016, even if that is in release 1.4.

[2016-05-02 18:29] joehandzik commented on #126
@tasleson, would we consider this closed, given Blaine's commit last week?

[2016-05-02 18:30] joehandzik commented on #128
@tasleson @cathay4t Closing this out, fixed in PR #130

[2016-05-02 18:30] #128 closed

[2016-05-03 14:35] cathay4t opened #136 "lsm_ipc.cpp: warning: Forming reference to null pointer <--[clang++]"
[code]

[2016-05-03 14:35] cathay4t commented on #136
I am not good at C++, so help wanted.

[2016-05-03 19:24] joehandzik commented on #136
@cathay4t It looks like all the code being touched here has been stable in the repo for a long time. Are we sure this is a problem? I'm seeing posts like this (https://llvm.org/bugs/show_bug.cgi?id=20138) that are calling it a false positive, and I'd tend to agree. @tasleson, thoughts?

[2016-05-03 19:41] #106 closed

[2016-05-04 18:35] joehandzik commented on #133
It's a dirty job, but I guess someone's gotta do it...

[2016-05-04 19:51] joehandzik commented on #134
Closing this, since you added the fix (as documented). Lemme know if you'd rather not have me closing these, I'm just trying to keep this pruned so I know what is still outstanding for 1.3.

[2016-05-04 19:51] #134 closed

[2016-05-05 03:01] #133 closed

[2016-05-05 07:15] cathay4t commented on #99
All issues above are fixed or pending review in PR #137. Closing.

[2016-05-05 07:15] #99 closed

[2016-05-05 13:35] joehandzik commented on #79
I'm voting we take care of this in 1.4. :)

[2016-05-05 13:53] cathay4t commented on #79
:+1:  for postponing to 1.4

[2016-05-05 13:56] cathay4t commented on #109
@joehandzik Just noticed you assigned to yourself. Sorry I completely forgot this issue.
Tip: add location to `DISK_HEADER` and `DISK_COLUMN_SKIP_KEYS` of `data_display.py`.

[2016-05-05 13:58] joehandzik commented on #109
Just trying to clean out the issue backlog to help speed along a release. :) Thanks!

[2016-05-05 13:59] cathay4t commented on #109
Tony is on vacation this week. We could get a new release next week.

[2016-05-05 14:04] joehandzik commented on #109
I figured he was OoO, he hasn't responded to anything for all of this week. No rush, we want to get this one right since it's likely to have many more eyes on it once it's included in Ceph.

[2016-05-09 10:57] cathay4t commented on #79
Change to 1.3 to make my document life easier.

[2016-05-09 10:58] cathay4t commented on #79
Closing as PR #137 fixed this.

[2016-05-09 11:13] #79 closed

[2016-05-09 12:38] cathay4t opened #140 "`make check` valgrind fail on Ubuntu 16.04 LTS"
Sounds like a bug of Ubuntu, not us. Just record down for future investigation.

[code]

[2016-05-09 13:44] tasleson commented on #126
@joehandzik Yes, lets close.

[2016-05-09 13:44] #126 closed

[2016-05-09 13:49] tasleson commented on #135
I agree, lets leave it unsupported at this time.

[2016-05-09 17:21] #109 closed

[2016-05-09 17:22] tasleson commented on #136
@joehandzik Yes, I think this is a falsely reported issue.

[2016-05-09 19:16] joehandzik commented on #79
@cathay4t I was just trying to save work if we didn't have time to get it in, glad you had time!

[2016-05-10 00:46] cathay4t commented on #2
To remove our project from sourceforge, we need to create some kind of [support ticket][1],
so I just delete everything there and only leave a notice about moved to github there.

Closing this issue.

[1]: https://sourceforge.net/p/forge/documentation/How%20to%20Remove%20a%20Project/

[2016-05-10 00:46] #2 closed

[2016-05-10 09:16] cathay4t opened #142 "[RFC] How should we generate document?"
Currently the doxygen favored format:

[code]

is conflicting with PEP8:

[code]

And, personally, I am not a fan of doxygen.

My proposal of document system is:
- C
  - Use [kernel-doc](https://www.kernel.org/doc/Documentation/kernel-doc-nano-HOWTO.txt) tool from linux kernel to generate manpage for every function.
  - Manually create manpage for `libstoragemgmt.h(3)` which include workflow, samp

[2016-05-10 09:22] cathay4t commented on #142
For http://libstorage.github.io/libstoragemgmt-doc/ website, we simply suggest user to API use manpage or python `help()` function.

If html document is mandatory, I could create some scirpt to extract above document into markdown.

[2016-05-10 21:41] mulkieran commented on #142
sphinx is the Python standard these days. I can't claim to be a fan of it, but I do use it for my own projects.

The results are mixed: http://pythonhosted.org/justbytes/index.html.

[2016-05-11 09:21] cathay4t opened #143 "Failure on query disks on Dell PERC(megaraid)"
Got a dell PERC system has no enclosure ID with failure:
[code]

All disks could be queried by command `/opt/MegaRAID/perccli/perccli64 /c0/sall show all J`

[code]

[2016-05-11 09:22] cathay4t commented on #143
Will fix in 1.4

[2016-05-11 11:11] cathay4t commented on #136
Closing. Not a bug.

[2016-05-11 11:11] #136 closed

[2016-05-11 12:11] cathay4t opened #144 "HPSA: Got 'Other/Not Configured' system status"
Got a system with 'Cache Status: Not Configured' which cause `lsm.System.status == Other`.

[code]

[2016-05-11 13:37] joehandzik commented on #144
Probably best to actually handle this in 1.3, I'll put together a PR today. The problem is that the cache status will always be "Unconfigured" until a volume is provisioned to use the cache. I don't like it, personally, we'll see if I can change it.

[2016-05-11 15:19] tasleson commented on #143
@cathay4t How difficult would this be to squeeze into 1.3 release?

[2016-05-11 20:25] #144 closed

[2016-05-12 04:08] cathay4t commented on #143
@tasleson I will try to fix it today. AFAIK, only `pool_member_info()` and `disks()` impacted for this.

[2016-05-12 09:52] cathay4t commented on #143
Closing. Fixed in #148.

[2016-05-12 09:52] #143 closed

[2016-05-12 20:14] tasleson opened #149 "Fedora packaging test failure for 1.3.0 release"
While trying to package 1.3.0 for fedora I'm running into the following error (fedpkg mockbuild):

[code]

`209 == LSM_ERR_NOT_FOUND_DISK`

[2016-05-12 20:45] tasleson commented on #149
When running in the context of the fakeroot I'm seeing:

[code]

[2016-05-12 21:02] tasleson commented on #149
@cathay4t Gris, please take a look at this.  I think this difference in error could be due to running as root vs. running as non-root.  However, does it really make sense to try and test these led functions on virtual or physical hardware that doesn't support it?

[2016-05-13 01:36] cathay4t commented on #149
I will skip led when run by non-root.
And this is a bug as '/dev/sda' do exist.

[2016-05-13 02:03] cathay4t commented on #149
The fedora/RHEL mock chroot has '/sys' mounted while '/dev' is not.

Patch is on the way.

[2016-05-13 02:06] cathay4t commented on #149
Fixed in PR #150, closing this issue.

[2016-05-13 02:06] #149 closed

[2016-05-13 16:03] tasleson opened #151 "Memory leak detected during Fedora armv7hl package 1.3.1 build"
See: https://kojipkgs.fedoraproject.org//work/tasks/5299/14045299/build.log

I'm thinking we may want to disable valgrind testing in the normal case, so we don't fail to build a package when something we depend on has an issue.

[2016-05-13 16:06] joehandzik commented on #151
I think you're right.

[2016-05-14 04:20] cathay4t commented on #151
I will add option or variable to skip valgrind check.

[2016-05-14 05:07] tasleson commented on #151
Packages have been submitted to `testing` and are currently pending for F23, F24 and el6.  I changed the spec file:

-%bcond_without test
+%bcond_with     test

To skip the `make check` to get the packages built.

[2016-05-14 09:00] cathay4t commented on #151
OK. Fix in 1.4.

[2016-05-17 13:36] rickysarraf opened #153 "build test failure on Debian"
I am working on refreshing libstoragemgmt and ran into the following build (test) failure.

In the past, I've been building it with the following option, which now fails on 1.3.1.

[code]

[code]

If I enable the tests, the build progresses futher, and then fails with the following.

[libstoragemgmt_1.3.1-1_amd64.build.txt](https://github.com/libstorage/libstoragemgmt/files/268261/libstoragemgmt_1

[2016-05-17 13:39] joehandzik commented on #153
From a quick look at the logs, this would appear to be our problem:

tester.c:3367:F:Basic:test_local_disk_vpd83_search:0: lsm_local_disk_vpd83_search(): Expecting LSM_ERR_OKwhen no argument is NULL
tester.c:3295:F:Basic:test_local_disk_list:0: lsm_local_disk_list() failed as 1
tester.c:3834:F:Basic:test_local_disk_ident_led:0: lsm_local_disk_list() failed as 1
tester.c:3841:F:Basic:test_local_dis

[2016-05-17 16:17] tasleson commented on #153
This failure could be related to the one Gris just posted a fix for.  I will try it out on a debian VM and see if I can reproduce and if Gris's change corrects it.  We need to roll a 1.3.2 release so we can address this issue too.  As for bypassing tests during builds, we should have a configure argument that does just that.  Running the local tests isn't a requirement, but it is certainly helpful

[2016-05-17 16:21] joehandzik commented on #153
@tasleson Good point, the build is 1.3.1.

[2016-05-17 16:23] rickysarraf commented on #153
This is on Debian unstable/sid

sent fr0m a $martph0nè, excuse typ0s
On 17-May-2016 21:47, "Tony Asleson" <notifications@github.com> wrote:

[2016-05-17 17:39] rickysarraf commented on #153
@tasleson  Yes. Fixing the current option (to disable tests) will suffice for this bug report.

For Debian, I've had the tests disabled for previous releases too because IIRC the tests had failed.

[2016-05-17 19:36] tasleson commented on #153
@rickysarraf OK, some observations from looking at the log file you supplied:

This is what is passed to configure
`717 ./configure --prefix=/usr`

Where your build is calling `make check`
[code]

I looked at `--disable-build-c-unit`, basically it bypasses the traversal of the `test` sub directory, so the C unit test doesn't get built.  If you actually try to run `make check` it will fail with:

`

[2016-05-18 01:56] cathay4t commented on #151
Fixed in #152 by adding configure option to skip memory leak check.

[2016-05-18 01:56] #151 closed

[2016-05-18 01:57] cathay4t commented on #140
To skip memory leak check, try run `make check` after ` ./configure --without-mem-leak-test`.

Closing this issue.

[2016-05-18 01:57] #140 closed

[2016-05-18 02:06] cathay4t commented on #153
We might add configure option `--without test` to suppress all build requirement for test cases like `chrpath, ps, check-devel, perl, wc, valgrind`.

[2016-05-18 09:09] rickysarraf commented on #153
@tasleson Following is what my build config is. Anything else is picked from the defaults. The only exception is that in the following example, I dropped the '-disable-build-c-unit' option because it is failing. All previous [builds](https://buildd.debian.org/status/package.php?p=libstoragemgmt) in Debian have it disabled.

[code]

So, that `make check` must be part of (your) default build config.

[2016-05-18 09:14] rickysarraf commented on #153
I just dug my emails and realized that this bug was existent back in 2013 too. Just that, back then, the '--disable-build-c-unit' worked fine in disabling the tests.

[code]

[2016-05-18 10:49] cathay4t commented on #153
Thanks for mention that.
I will replace buggy `--disable-build-c-unit` option with `without-test` in coming PR.

[2016-05-18 12:37] cathay4t commented on #153
New configure option added in PR #154, please review.

[2016-05-18 13:32] tasleson commented on #153
@rickysarraf Please see: https://manpages.debian.org/cgi-bin/man.cgi?query=dh_auto_test

[2016-05-18 16:59] tasleson commented on #153
@rickysarraf @cathay4t I've merged PR #154.  However, in this case I would have preferred to understand the test failure before blindly disabling tests on debian.  Furthermore, the debian build environment appears to be running `make check` automatically and can be controlled with

[code]

I will be creating a 1.3.2 release today.

[2016-05-18 16:59] #153 closed

[2016-05-18 17:09] rickysarraf commented on #153
@tasleson Thanks. Debhelper 9 and above simplifies packaging in Debian. On any standard build environment (including your's using autotools), packaging can be trimmed down to a mere 2 liner. In such cases, it performs the defaults.

Like [this](http://anonscm.debian.org/cgit/apt-offline/apt-offline.git/tree/debian/rules?h=debian) for example.

[code]

[2016-06-03 11:36] cathay4t opened #155 "CREATE_ALLOC_ARRAY_FUNC should set array item to NULL."

[2016-07-06 16:44] joehandzik opened #164 "deb_dependency file is missing three dependencies"
Even after running "sudo apt-get install `cat deb_dependency`", these three dependencies are unsatisfied:

- python-yaml
- libmicrohttpd-dev
- libjson-c-dev

I'll fix it when I'm done with the debian packaging (hoping within the next week or two).

[2016-07-06 19:20] tasleson commented on #164
@joehandzik Can you double check on this.  @cathay4t removed the restful service API df541417443ade9de6ff1dfa3463f42ceea11b8c  that required `libmicrohttpd-dev` and `libjson-c-dev`.  `python-yaml` is not required to build and test.  It's only required if you want to output detailed stats during test.  I'm not seeing any of these in the configure file too.

[2016-07-06 19:23] tasleson commented on #164
@joehandzik If you are building from a git tree you may want to do a `git clean -fxd` && `./autogen.sh` **after you make sure you don't have any uncommitted work in your tree**.

[2016-07-06 19:46] joehandzik commented on #164
Thanks for the bold highlight, btw. ;P

I found the issue. Ritesh's debian/control file still has those three dependencies in it for libstoragemgmt. I'll pull them out. Thanks for the reality check! I forgot that those dependencies were only for the restful service...

[2016-07-06 19:58] #164 closed

[2016-07-06 21:21] tasleson commented on #97
I looked at this one today and this one is interesting.  If you place the `--help` before the alias it works as expected.  For some currently unknown reason when `--help` is after the alias we return from `parse_known_args` with unknown args containing `--help`.  When we later try to call  `self.args.func(self.args)` we call into `handle_alias` which in turn calls `parse_args` again which catches

[2016-07-08 03:15] cathay4t opened #166 "Need test case for lsmcli connection free commands"
Don't need lsmd damon for these commands:
- `lsmcli --help` on all sub commands.
- `lsmcli ldl` and other connection free commands.

[2016-07-11 12:55] cvedel opened #167 "PLUGIN_BUG(2): Expected key missing from SmartArray hpssacli output:'Disk Name'"
I get this message running the following command when a logical disk is failed:

`lsmcli -u hpsa:// lv`

AFAICS, the output of hpssacli does not contain the 'Disk Name' field in this case so that _hp_ld_to_lsm_vol fails with a KeyError at:

`device = Device.from_device_file(_CONTEXT, hp_ld['Disk Name'])`

A failed logical disk should not break the listing and it should still be listed so that it c

[2016-07-11 13:16] joehandzik commented on #167
You are definitely correct, @cvedel. It looks like hpssacli drops the /dev path when a disk is failed (at least for your version of hpssacli). Can you reply back with the version of hpssacli that you're using (should be a -v argument or something similar)?

I'm a little concerned because I thought I had run through this exact scenario, but it's possible that I didn't. And, in my experience, device

[2016-07-11 13:24] cathay4t commented on #167
@joehandzik I believe we should use VPD83 to find out the disk name via `lsm.LocalDisk.vpd83_search()` instead of depending hpssacli doing so.

[2016-07-11 13:33] joehandzik commented on #167
@cathay4t Probably the most correct fix to move us away from using hpssacli wherever possible, yep. I'll give that change a shot and see if it works for @cvedel.

[2016-07-11 14:52] joehandzik opened #168 "Missing capability in hpsa plugin: LSM_CAP_DISK_VPD83_GET"
Too much going on, can't believe I missed this. In 1.3, the Smart Array plugin will not list the VPD83 capability (I don't think any plugin lists it, mind you) so I client has no way of getting the VPD83 data via the API (except for blindly assuming that the plugin supports it).

I'll fix. I'm glad we're doing another release at the end of August. :)

[2016-07-12 01:01] cathay4t commented on #168
Closed as #169 merged.
I also fixed the MegaRAID plugin for this missing capability.

Thanks Joe!

[2016-07-12 01:01] #168 closed

[2016-07-12 06:36] cvedel commented on #167
I am using version 2.40.13.0 with a Smart Array P420i:

    # hpssacli version

     HPSSACLI Version: 2.40.13.0
     SOULAPI Version: 8.4.13.0

The output of hpssacli for the failed logical drive is:

      Array: N
      Interface Type: Solid State SATA
      Unused Space: 0  MB (0.0%)
      Used Space: 3.6 TB (100.0%)
      Status: Failed Physical Drive
      Array Type: Data       HPE SSD Smar

[2016-07-20 10:58] cathay4t opened #171 "Adding support of gluster"
IRC user `new-guest` is seeking the support of gluster in libstoragemgmt with RAM cache management feature included.

[2016-07-20 11:27] cathay4t commented on #171
Quote:
[code]

[2016-07-20 11:42] cathay4t commented on #171
I did some research on gluster cache management, found this command from their website:
http://www.gluster.org/community/documentation/index.php/Gluster_3.2:_Tuning_Volume_Options

[code]

But I lost connection to `new-guest` before clarifying out the user case.

[2016-07-20 19:34] joehandzik opened #172 "Smart Array and MegaRAID plugins fail geteuid check"
Hey guys,

Back on the Debian build, and I have .debs building but...it doesn't look like we're running as the correct user on Debian Jessie (probably all Debian distros). I need to do more investigation, but the upshot is that any attempt to run hpsa:// or megaraid:// is failing with:

INVALID_ARGUMENT (101): This plugin requires root privilege both daemon and client

I'll report back when I have

[2016-07-20 19:40] tasleson commented on #172
@joehandzik What do the contents of the `lsmd.conf` file and `libstoragemgmt.service` show for your deb package?

[2016-07-20 19:54] joehandzik commented on #172
@tasleson Fair question, but I'm reproducing this without the package now (via a simple 'make install') so I don't think it has anything to do with the deb.

libstoragemgmt.service shows User=root as expected, and lsmd.conf shows allow-plugin-root-privilege = true as well.

The issue isn't with the daemon as best I can tell, sim:// and targetd:// attempt to run at least. It has something to do wit

[2016-07-20 19:58] tasleson commented on #172
@joehandzik I'm assuming you are running the `lsmcli` as root, yes?

[2016-07-20 19:59] joehandzik commented on #172
Yes indeed.

LSMCLI_URI=hpsa://
sudo -E lsmcli ls
sudo -E lsmcli p
etc...

All fail the same way. :/

[2016-07-20 20:03] tasleson commented on #172
@joehandzik If the daemon is running as root and the client is running as root and the config files are correct, I'm at a loss at the moment.  Anything interesting in the syslog/journal?

[2016-07-20 20:03] tasleson commented on #172
[code]

[2016-07-20 20:07] joehandzik commented on #172
Nope, not unless the output would be going somewhere other than /var/log/syslog.

I'll keep looking, and I'll update if I find something useful.

[2016-07-20 20:10] joehandzik commented on #172
Ah, sim:// doesn't require root. That explains why it still works.

[2016-07-20 22:04] joehandzik commented on #172
User id comes out as 119, which is apparently the 'libstoragemgmt' user. So IS this actually some kind of permissions issue with that user?

[2016-07-20 22:56] joehandzik commented on #172
Ok, I have *some* answers.

I went and poked around at...stuff...and the most useful piece of information (something I should have taken more seriously in hindsight) is that my lsmd process (according to a 'ps aux') was running under user 'libstoragemgmt'. That explains the user id information that I posted here a minute ago, and means that for whatever reason the libstoragemgmt service is being s

[2016-07-21 05:13] cathay4t commented on #167
@cvedel Issue has been fixed in commit 553770fb002ef24429a86f816986d74297ef69f2. Please try our [weekly snapshot build][1] to verify that.
I am closing this issue as I have reproduced this problem and confirmed fix.
Please feel free to open another issue if it does not works on you.

[1]: https://libstorage.github.io/libstoragemgmt-doc/doc/install.html#weekly-snapshot-build

[2016-07-21 05:13] #167 closed

[2016-07-21 05:27] cathay4t commented on #172
Only when these conditions are all meet, could a plugin be run as root user:
 1. The `lsmd` is running as root user.
 2. The `lsmd.conf` (man 5 lsmd.conf) has `allow-plugin-root-privilege = true;`.
 3. Plugin config `<plugin_name>.conf` has `require-root-privilege = true;`.
 4. API user(including lsmcli) is root (`uid == 0`)

Even with 1) and 2), if no plugin config indicate `require-root-privileg

[2016-07-21 12:44] joehandzik commented on #172
So, I guess my issue boils down to the fact that lsmd is not always defaulted to running as the root user. It seems like every time I install via package (rather than installing from source) that's what I end up with...I checked my Centos7 VM too, and it also had lsmd running as libstoragemgmt user (I installed there via yum).

If there are conditions where lsmd may be running in a way that a user

[2016-07-21 12:52] cathay4t commented on #172
Current rpm post scripts of plugins are supposed to restart lsmd which should not have the issue you mentioned.

@joehandzik May I have the steps you were using to reproduce this issue?

[2016-07-21 13:16] joehandzik commented on #172
@cathay4t Ok, now that I've played with this a bit more I think I understand what my issue was on Centos. Here's how I got myself into trouble:

1. Did an initial 'yum install libstoragemgmt'
2. Went and forgot that I ever did a yum install of libstoragemgmt
3. Built and installed libstoragemgmt from source
4. Never reloaded the daemon

I retried with these steps:

1. 'yum install libstoragemgmt'

[2016-07-21 13:16] #172 closed

[2016-07-21 15:31] cvedel commented on #167
I have problems with my lab at the moment but will test ASAP.

Thanks

[2016-07-22 01:14] cathay4t commented on #172
@joehandzik For newly installed lsmd, it will not start itself via rpm postscript intentionally. The reason you got it autostarted after reboot is [systemd autostart preset][1].

For the Centos 7 you are using:

[code]

[1]: https://www.freedesktop.org/software/systemd/man/systemd.preset.html

[2016-07-22 13:07] cathay4t opened #175 "Typo dependancy in cmdtest.py"
[code]

[2016-08-01 22:00] tranceitionalMynd opened #178 "Bash completion not working"
LSM Version: 1.3.2 (built from source) and 1.2.3 (install from OS DVD)
Linux Distro: RHEL 7.2
Architecture: x86_64

Observed behavior:

When I type lsmcli li+tab, I don't have an expnsion for the 'list' option of lsmcli.

Expected behavior:

My understanding is that lsmcli li+tab should expand to 'list'.

[2016-08-01 22:15] tranceitionalMynd opened #179 "/var/run/lsm/ipc directory not created in spec files generated from source"
LSM Version: 1.3.2 (rpm built from source)
Distribution: RHEL 7.2

How to recreate from 1.3.2 source build and re-packaging:
run autogen.sh
configure
make
Utilize packaging/libstoragemgmt.spec
copy tarball to ~/rpmbuild/SOURCES
package rpms from the spec file with rpmbuild -ba libstoragemgmt.spec

1.3.2 source rpm Installation:
Uninstall the OS package of LSM:
yum uninstall libstoragemgmt (this re

[2016-08-02 02:31] cathay4t commented on #178
@tranceitionalMynd Thanks for reporting this issue. But it works from my end(RHEL 7.2 + libstoragemgmt 1.3.3)
[code]

Could you start a new bash(logout and relogin) after installation, it allow bash-completion to load new
configure for lsmcli?

If you still have issue, please provide output of:
[code]

[2016-08-02 05:18] cathay4t commented on #179
@tranceitionalMynd It works for me:

[code]
Could you try it again and provide output of this command:

[code]

[2016-08-02 05:22] cathay4t opened #180 "Enable pylint test in CI."
Only treat error as failure.

[2016-08-05 10:57] cathay4t opened #183 "BUG: Python Libary conflict with C library"
In Python API, we have `export_fs()` with `anon_uid=NfsExport.ANON_UID_GID_NA`, here ANON_UID_GID_NA is -1.

In C API, we have `lsm_nfs_export_fs()` takes `uint64_t anon_uid`, clearly `LSM_NFS_EXPORT_ANON_UID_GID_NA(-1)` is not possible here.

Any suggestion?

[2016-08-05 11:59] cathay4t commented on #183
We could mark `export_fs()` as deprecated and introduce new API `lsm_nfs_export_create()`.

[2016-08-05 14:40] tasleson commented on #183
@cathay4t If you look at the header libstoragemgmt_nfsexport.h you will see the following comment:

[code]

if you try some C code out you will see:

[code]
[code]

I think we are OK with what we have.  Is it ideal or would we do it this way if we caught it sooner, absolutely not.

[2016-08-05 14:55] tasleson commented on #183
The only issue I can think of is that we didn't account of the representation to be different when crossing languages.  So python client with C plugin. When the value gets serialized across JSON we could end up with 0xFFFFFFFFFFFFFFFF on the python side which wouldn't match.  To accommodate this we could add separate properties on the NfsExport class to translate anonguid/gid to -1, -2 when read i

[2016-08-05 15:03] tasleson commented on #183
See ef4c7ed102cafa74f867da688496dfb52e9e9a4b for more information.  I think we can make this better by adding properties on python NfsExport class.

[2016-08-09 11:38] cathay4t commented on #183
Close this issue, please continue the discussion in PR #184

[2016-08-09 11:39] #183 closed

[2016-08-16 20:55] BlaineEXE opened #189 "hpsa plugin bug: controllers in "RAID Mode" not supported"
I have a Smart HBA H244br in one of my test systems that reports its mode as `RAID Mode` instead of the `RAID` option supported by libstoragemgmt currently. I'll go ahead and make a pull to fix this. Is there any way this fix can get incorporated in a release within the next few weeks?

**Offending output snippet**
[code]

[2016-08-16 21:03] BlaineEXE commented on #189
I'd like to get some thoughts on whether we can fix similar issues coming up in the future. Instead of throwing an LsmError on an unknown controller mode, what if we simply report the mode back as `MODE_UNKNOWN`?

[2016-08-17 06:38] cathay4t commented on #171
Closed as I failed to reach the user who suggested this for detail user case. Could reopen if anything pop up.

[2016-08-17 06:38] #171 closed

[2016-08-18 00:40] #189 closed

[2016-08-22 09:28] cathay4t opened #192 "Change travis CI to use sudo mode with support of testing on RHEL/SUSE/Debian and etc"
This line might helps:

https://djw8605.github.io/2016/05/03/building-centos-packages-on-travisci/

[2016-08-25 20:48] tasleson opened #194 "pyudev: Need to accomodate API changes"
pyudev has taken the approach that they will deprecate and remove functionality with no consideration for library users .  We will either need to write a compatibility layer in libstoragemgmt to accommodate the differences and maintain it as pyudev continues to evolve or remove it.

~~I believe we should remove use of pyudev so that we can reduce our long term support burden.~~

[2016-08-25 20:59] tasleson commented on #194
The maintainer will adhere to versioning.  So when the 1.0.0 is released we will likely be broken, but should be fine after we make the needed changes.

[2016-08-26 01:51] cathay4t commented on #194
The only place using pyudev is hpsa plugin where we could simply replace it with some sysfs actions or even better lsm.LocalDisk functions.

[2016-08-30 14:42] #97 closed

[2016-08-31 20:16] joehandzik commented on #194
@cathay4t I'm personally indifferent, we had something that worked fine before but moved to pyudev because it was a cleaner implementation.

[2016-08-31 20:26] tasleson commented on #194
@joehandzik You are correct, sorry for the code churn.  Knowing what I know now, we would not have chosen to pick up the pyudev dependency.  I'm using pyudev for a couple of other things which are not this trivial, and I'm trying to figure out how I want to handle those cases too.

[2016-08-31 20:29] joehandzik commented on #194
@tasleson No worries! We can handle this however you guys like. I can see the value in using pyudev as a buffer between us and sysfs. If there's a reasonable way to keep pyudev, we should keep it.

[2016-09-06 20:29] joehandzik opened #201 "hpssacli 2.50 output changed, will likely require a parsing change"
I haven't investigated this very far, but wanted to leave a note here so we can track the issue.

I was using a 2.50-5 version of hpssacli (it's unreleased) and caught several parsing errors that caused the CI suite to fail. I downgraded to 2.40-13 after talking to @BlaineEXE, and behavior is as expected (there's a failure, but it's a reasonable failure).

I'll try to fix this if I can't convince

[2016-09-06 20:46] joehandzik opened #202 "How to handle capabilities that may not be supported in certain system modes"
HBA mode Smart Array controllers will fail the CI suite right now due to their inability to configure logical volumes (that's how our HBAs work right now, pure HBAs instead of the hybrid mode that some Avago controllers run in). There will likely be other examples of this, so...how should I handle pieces of the CI framework that will fail when a device is in a certain state, but are not indicative

[2016-09-07 18:55] joehandzik opened #203 "Feature request - Serial Number for physical disks via local_disk API"
We have a partner that would like to extract disk serial numbers without using a vendor-specific plugin. This shouldn't be too tough, I'll get to it as soon as I can.

[2016-09-07 18:57] joehandzik opened #204 "Feature request - Ident/Fault LED state request via local_disk API"
Similar to the last request, there's a prospective libstoragemgmt user that would like to know the current state of each LED that corresponds to a physical disk, also without vendor-specific code. This should be possible via the SES interface that @cathay4t created.

[2016-09-08 02:49] cathay4t commented on #204
I will take care of this.

[2016-09-08 02:52] cathay4t commented on #203
The SCSI SPC `READ MEDIA SERIAL NUMBER` command should do. I will take care this.

[2016-09-08 02:57] cathay4t commented on #203
Opps. As sg3_utils indicates ` It is not an mandatory command and the author has not seen any SCSI devices that support it.`. Will find another way.

[2016-09-08 03:07] cathay4t commented on #203
vpd 0x80 `Unit Serial Number VPD page` could be used.

[2016-09-08 03:26] joehandzik commented on #203
That was the path I had started down (vpd80), yeah. It would look really similar you the existing vpd83 code. I have this half started and can probably finish it tomorrow...maybe I take this one and you poke at the LED states? If you already have code in progress too, it's alright if you beat me to this.

On Sep 7, 2016, at 10:07 PM, Gris Ge <notifications@github.com<mailto:notifications@github.co

[2016-09-08 06:40] cathay4t commented on #203
No, I haven't code anything yet. You may continue on this. I will work on the SES LED feature.

[2016-09-08 15:41] joehandzik commented on #203
@cathay4t Sounds good!

[2016-09-12 21:40] tasleson commented on #202
@joehandzik The capabilities are suppose to be accurate, so that a user can tell if an operation is available.  I'm thinking that the plugin when the card is in HBA mode should not be returning that volume_create is available?

[2016-09-12 21:51] joehandzik commented on #202
@tasleson That's definitely an option. I suppose it depends on if you interpret the capabilities as being "capabilities of the plugin" or "capabilities of the device". Adjusting the cache module read/write ratio will be another one that requires some amount of upfront data...so, to make this work, I'll need to take a look at the system in self.capabilities, and make a decision on support based on

[2016-09-12 22:25] tasleson commented on #202
@joehandzik The capabilities are suppose to be the capability of the device, sorry if we haven't documented this well enough to convey that.  For example SMI-S has a wide range of support across different arrays and we interrogate that at run-time and fill out the capabilities as appropriate.  Obviously the plugin needs to support the feature too, but ultimately the intent is what can I do with th

[2016-09-13 18:20] joehandzik commented on #202
@tasleson It all makes sense and is totally reasonable. Hopefully PR #205 deals with the issue in an acceptable way.

[2016-09-14 14:34] cathay4t opened #206 "The LsmError classname in traceback should be lsm.LsmError instead of lsm._common.LsmError"
[code]

The traceback should use `lsm.LsmError`. The same problem also exists in pywbem upstream, if we find a fix, we'd better send a PR to pywbem also.

[2016-09-14 15:14] tasleson commented on #206
If you accept the expected name it does indeed work:

[code]

Produces:
[code]
But it would be better if the stack trace came back with `lsm.LsmError`.

[2016-09-14 18:06] #202 closed

[2016-09-15 20:20] joehandzik opened #208 "lsm doesn't work on python 3 if a build goes into a non "python3" directory"
I was hoping it wasn't this simple, but...

In my debian environment, python 3.4 was also installed. For whatever reason (haven't really looked), PR #103 or some artifact of the way python3 works installed all the python3 code into /usr/lib/python3.4/site-packages/lsm. Nothing worked (failed at 'lsmcli' on the lsm import), so I copied the entire lsm directory from /usr/lib/python3.4/site-packages/

[2016-09-19 16:13] tasleson commented on #208
@joehandzik Did you do a `make install` or a dep pkg install?

[2016-09-21 14:47] cathay4t commented on #208
This is caused by another Debian special stuff:
http://stackoverflow.com/questions/9387928/whats-the-difference-between-dist-packages-and-site-packages

The autotools we are using install python things to site-packages.

But it was supposed to works well in both `site-packages` and `dist-packages`.

@joehandzik Which Debian version are you using? I would like to try it from my end. And what's the

[2016-09-21 20:46] BlaineEXE opened #211 "Feature request: Add enclosure support"
Some feedback we've gotten from one of our test labs is that we are not able to monitor the status of JBODs with lsm. If we use an lsm-only approach to management, the only way to detect JBOD health issues is to view the health LED on the physical chassis.

I've already completed about 35% of the work needed to enable this feature, but I haven't been able to work on it in a while. It would be good

[2016-09-21 21:26] joehandzik commented on #208
@cathay4t Sorry for the delay on this, still don't have all the data (couldn't get at the system for the 'python3 -c' output yet, having lab issues). I'm using Debian Jessie across the board for my testing.

[2016-09-22 08:28] cathay4t opened #212 "HPSA plugin: Got system status info as `status=[OK]status=[OK]status=[OK]`"
* When everything is OK, no status_info should be provided.
* Better version could be `Controller Status=xxx, Cache Status=xxx, Battery/Capacitor Status=xxx`.

[2016-09-22 08:37] cathay4t commented on #208
OK. The python search path in debian 8 is:
[code]

Which does not include `site-packages`. Will investigate workaround for autotools.

[2016-09-22 11:37] cathay4t commented on #208
On debian 8, the automake m4 file `/usr/share/aclocal-1.14/python.m4` is using this command to check python site path:
[code]
which produce the incorrect path: `/usr/lib/python3.4/site-packages`.

So it's a bug of python3 in debian. I failed to find any bug created in debian, but found one in [Ubuntu] [1] with identical issue, I could use some help from debian experts to report this bug to debian.

[2016-09-22 15:53] joehandzik commented on #208
@cathay4t Yeah, doubtful that we'd get a fix in any reasonable amount of time. @rickysarraf would be the person I'd suggest to shepherd us through the process here...if he doesn't respond here I'll ping him tomorrow via email and copy you.

[2016-09-22 16:18] rickysarraf commented on #208
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On Thu, 2016-09-22 at 08:53 -0700, Joe Handzik wrote:

Please get it reported first[1]. If you have your Debian setup in place, please
use it to report the bug. The default tool to report bugs, in Debian, is
reportbug.

As for the fix, you need to get it fixed in Unstable first, if it still applies
to Unstable. And then you need to backport the fix

[2016-09-22 16:41] tasleson commented on #208
Is this something we can mitigate with a deb packaging work around?  If `make install` is placing the files in the incorrect location, can't we work around that when packaging?  I'm not familiar with how deb packaging works, so maybe this isn't an option.

[2016-09-22 16:56] rickysarraf commented on #208
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On Thu, 2016-09-22 at 09:41 -0700, Tony Asleson wrote:
Is this something we can mitigate with a deb packaging work around?  If make install is placing the files in the incorrect location, can't we work around that when packaging?  I'm not familiar with how deb packaging works, so maybe this isn't an option.

Yes. The packaging tools have provision f

[2016-09-22 18:12] joehandzik commented on #208
@rickysarraf Yeah, I figured it would be possible to do in packaging. I guess this will just continue to be a minor annoyance for me when I build and install from source.

The symptom will be that installing via a .deb without implementing a workaround wouldn't put files in the place that Debian is (incorrectly) expecting them. So the bug is in Debian from our perspective, but would manifest for o

[2016-09-22 18:49] joehandzik commented on #212
Guess that went in here: https://github.com/libstorage/libstoragemgmt/commit/021b29b830d1b2c1f89d5cf1ffcf8b2d94bee782

@BlaineEXE, any thoughts about how to maintain your desired result and conform to what @cathay4t said above? My guess would be to prepend the 'key_name' element onto the string addition that you're making to start. From there, is there any particular reason why you need to have th

[2016-09-22 21:51] BlaineEXE commented on #212
Prepending the key name makes sense, and that seems the mostly likely place where the bug was inserted.
As for why do it in success csaes, the property is called `status_info`, not `failure_info`. If this isn't populated in some cases but is populated in others, we are effectively doing the same thing as HPSSACLI when they decide not to show property fields when they're irrelevant.

[2016-09-23 02:40] cathay4t opened #214 "HPSA plugin: The parser need to be overhauled"
Check PR https://github.com/libstorage/libstoragemgmt/pull/210 for details.

[2016-09-23 02:59] cathay4t commented on #211
@BlaineEXE I hope you mean adding more library level local APIs instead of create a plugin named as `SES` or expanding hpsa plugin. From my point view, these features you are requesting could be done via SES standard or at least SCSI T10 standards.

May I have early look on your 35% work? I used to have SES plugin created but dropped.

[2016-09-23 11:26] #212 closed

[2016-09-23 19:05] BlaineEXE opened #215 "Required RPM bloat"
I've noticed that from version 1.2.3 to version 1.3.4, there is what I'll call 'required RPM bloat'. When installing the `libstoragemgmt` package in 1.2.3, the `libstoragemgmt-python` package is a dependency. In version 1.3.4, the `libstoragemgmt-python` dependency still exists, but the `libstoragemgmt-python-clibs` dependency has also been added. This poses problems for updating from one version

[2016-09-26 11:35] cathay4t commented on #215
I will investigate no this.

[2016-09-27 08:21] cathay4t commented on #215
It works well for me:
https://gist.github.com/cathay4t/ac1d0d710a803e347911f590eb2e8180

The `libstoragemgmt-python` is noarch while `libstoragemgmt-python-clibs` is C compiled, so it should be split into two pkgs.

[2016-09-27 14:43] cathay4t commented on #208
I will take a thorough investigation and report a bug to debian.

Still no luck for a workaround in configure.ac.

[2016-09-28 11:07] cathay4t commented on #208
Debian bug reported:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=839064

The debian stable/testing/unstable are all impacted.

[2016-09-29 15:46] BlaineEXE commented on #211
The work I had done focused on using the HPSA plugin to get the information. Joe and I have discussed the SES method you mentioned, and it has merit, but I think a combination of both vendor-specific plugin and SES methods will be best. The vendor-specific plugin would be needed if one were to put a JBOD behind a RAID controller, for example. And the SES method would be preferable for a customer w

[2016-09-30 06:38] cathay4t commented on #208
@joehandzik Could you try patch in https://github.com/cathay4t/libstoragemgmt/commit/ccb382f66b0ce3c72cdac86829b8b566aa04b0be along with tony's PR?

It works on my debian 8.6.

[2016-09-30 11:27] cathay4t commented on #211
Thank you.
Just as I expected:
 * Create LSM library level functions for SES standardized stuff where all plugins could use.
 * Plugin adds their variety.

I will take a look on your code and we could work out a plan then. But it has to wait a while.( I am taking PTO for next week(Oct 1-7).

[2016-09-30 11:27] cathay4t commented on #215
@BlaineEXE Could you try again and provide detail log if failed? Thank you.

[2016-09-30 11:43] cathay4t commented on #74
Closed, PR #103 will track this.

[2016-09-30 11:43] #74 closed

[2016-09-30 18:38] BlaineEXE opened #216 "1.3.5 Source Code release has 1.3.4 version number"
The "Source code" release for version 1.3.5 has the 1.3.4 version specified. I am unsure if 1.3.5 code changes have made it to this tarball.

![image](https://cloud.githubusercontent.com/assets/3989526/19002708/e50fe396-8712-11e6-8b56-4035fe8ef0cd.png)

Snippet of `configure.ac`
[code]

[2016-09-30 18:44] BlaineEXE commented on #216
It looks like both "Source code" options (tar.gz and zip) are affected, but the "libstoragemgmt-1.3.5.tar.gz" download shows `[1.3.5]` in `configure.ac`

[2016-09-30 18:59] tasleson commented on #216
The tag is on the wrong commit.  Github generates the two files that are incorrect based on the tag.  However, some other files didn't get updated too for the release:

* NEWS
* packaging/libstoragemgmt.spec.in

I'll re-roll this release in a little bit.

[2016-09-30 19:01] BlaineEXE commented on #216
Thanks, Tony!

[2016-09-30 19:14] tasleson commented on #216
@BlaineEXE OK, Gris already did releases for fedora, so I only changed the tag to be on the correct commit.  We can't change the contents of the release that is already out in the wild unless we make a 1.3.6 instead.
We will correct NEWS & packaging/libstoragemgmt.spec.in when we roll the next one.

The source code zip and tag.gz should be correct now.

[2016-09-30 19:15] tasleson commented on #216
Just to be specific the 1.3.5 tag was on 2ce5a35 it's now on 54eb290, which is the commit the bumped `configure.ac`.

[2016-10-03 15:13] BlaineEXE commented on #216
The `configure.ac` shows 1.3.5 now. I think this can be marked fixed and closed.

[2016-10-03 15:13] #216 closed

[2016-10-03 15:48] BlaineEXE commented on #215
The issue I'm describing specifically occurs when I build the latest RPMs and copy them to host machines, installing them locally (from the copied RPM files) and not from a repository.

[2016-10-04 21:25] joehandzik commented on #208
@cathay4t Looks good to me, just tested. Closing now.

[2016-10-04 21:25] #208 closed

[2016-10-07 06:17] cathay4t commented on #215
@BlaineEXE I am using RHEL 7.2.

[2016-10-07 18:22] BlaineEXE commented on #215
I can confirm the behavior you see on RHEL 7.2. I don't think yum behaves the same way on RHEL 6, but I don't have a system up right now to test that.

[2016-10-08 01:29] cathay4t commented on #215
@BlaineEXE `yum install` on RHEL 6 acted the same as RHEL 7 did. And the lsm upgrade works well on RHEL 6.8:
https://gist.github.com/cathay4t/b98431ca837038a46d10d3e45a538b44

[2016-10-08 01:32] cathay4t commented on #215
I am guessing you are using command:
[code]
In stead of
[code]

And the former one does not include `libstoragemgmt-python-clibs` which triggered the issue you mentioned.

If you could provide me the detail log of failed yum, I may spot out the root cause.

[2016-10-10 13:44] cathay4t commented on #204
@joehandzik I drafted the patch(still have some tests running) https://github.com/cathay4t/libstoragemgmt/commit/423892a16065b518f1dd0d1a45419d5a322cd253, could you test it on hpsa?
It works well in our lab for mpt2sas enclosure.

[2016-10-10 14:03] cathay4t commented on #204
Oh, forgot to mention. `sudo lsmcli ldl` would do the trick.

[2016-10-11 06:10] cathay4t commented on #204
Closing this issue against PR #217

[2016-10-11 06:10] #204 closed

[2016-10-13 16:12] cvedel opened #218 "hpsa plugin error when a disk has been hot removed"
When a disk has been hot removed, hpssacli does not include the port number in the physical drive section:
[code]
This triggers a ValueError exception in the hpsa plugin `_hp_disk_to_lsm_disk` function when it splits the physical drive id because three values are expected but only two are returned:
[code]
This is with the following version of hpssacli:
[code]

[2016-10-13 16:23] cathay4t commented on #218
@cvedel Thanks for the report.

@joehandzik I have no physical access to any HPSA cards to remove disks, is that possible for you guys to work on a fix for this issue? Thank you.

[2016-10-13 17:40] joehandzik commented on #218
@cathay4t Yup, I'll take care of it. Thanks for the report, @cvedel!

[2016-10-13 19:59] joehandzik commented on #218
@cvedel If you have the time to check it out, my fix attempt is here: https://github.com/joehandzik/libstoragemgmt/tree/wip-fix-issue-218

I ran out of time to test it today, but I'll test it tomorrow if you don't get to it first.

[2016-10-14 08:21] cvedel commented on #218
@joehandzik This fixes the problem for me. Thanks!

[2016-10-14 13:31] cathay4t commented on #211
@BlaineEXE I did a quick view on your code, it seems you are intending to create some plugin API like `lsm.Client.enclosures()`. all properties you are asking are in existing standards(SES and SPL), thus the feature you are requesting should be library level APIs like `lsm.LocalDisk.enclosure_name_get('/dev/sda')` or `lsm.LocalDisk.enclosure_sn_get('/dev/sda')`, instead of plugin level API.

* Enc

[2016-10-14 13:46] cathay4t commented on #211
@BlaineEXE To simplify things, are you seeking implementations of these APIs(take python API as an example):

[code]

[2016-10-14 14:01] joehandzik commented on #211
@cathay4t Thanks for taking a look at Blaine's code. I agree that we should be able to get most of this information via standard methods as well as via hpssacli, the main reason why we erred on the side of starting with the hpssacli route is because it would work in RAID mode too. So, keep that in mind as we go forward with this work. I agree with you that we need LocalDisk methods on top of whate

[2016-10-15 01:22] cathay4t commented on #211
@joehandzik Thanks for the inspiring use cases. I agree both plugin and library API should be able to query link speed, fan, sensors, power supply and etc.
I will try to allocate time for the library API mentioned above.

@joehandzik @BlaineEXE If any of you are working on plugin or library API mentioned above, please create an issue and assign to yourself with simple notes in order to eliminate o

[2016-10-17 16:12] joehandzik commented on #218
@cvedel Good news, thanks. I have opened an issue on the HPE side against hpssacli, intending for this workaround to be unnecessary for future versions of hpssacli.

[2016-10-18 19:52] joehandzik commented on #201
Closing this, learned from the Microsemi team that 2.50 will never be released.

[2016-10-18 19:52] #201 closed

[2016-10-19 02:09] cathay4t commented on #218
@joehandzik Could you submit your patch as PR as an workaround before hpssacli fix them?

[2016-10-19 14:57] #215 closed

[2016-10-21 15:28] #218 closed

[2016-10-25 19:00] joehandzik opened #223 "ssacli version 2.60.18.0 changes to "Logical/Physical Block Size" from "Native Block Size""
Good news is that our parser isn't totally broken now that I'm on the right unreleased versions of ssacli...bad news is that they're still changing key names on me.

[2016-10-25 21:58] tasleson commented on #223
@joehandzik It would be great if you could bubble this issue up the chain.  Unless we get some type of useful & stable API (regardless of what it is) we will always be behind and perpetually broken (potentially) for each new release of the command line tool.  Having to support all the different known versions is a PITA too.

[2016-10-25 23:38] joehandzik commented on #223
I agree with you. The good thing here is that I'm testing this one WAY before it'll be released, so worst case I'll have the fix in place before a customer would see it. I may even have a chance to get the old entry back, alongside the new entry.

Of course, this may introduce lots of cases where users of older libstoragemgmt versions will simply be broken with brand new versions of hpssacli. I ha

[2016-10-27 05:04] cathay4t opened #224 "Query link speed."
Just an note ~~~on what I am working on for SES related[1] works~~~ in case of overlap.

[code]

The `link_speed` will be a string in the format of `3.0 Gbps`. Special values:
- Unknown speed -- `LSM_DISK_LINK_SPEED_UNKNOWN: "UNKNOWN"`
- Admin disabled -- `LSM_DISK_LINK_SPEED_DISABLED: "DISABLED"`
- Disconnected -- `LSM_DISK_LINK_SPEED_DISCONNECTED: "DISCONNECTED"`

[2016-11-01 11:01] cathay4t opened #225 ""test/trusted.yaml" should not in current project."
@tasleson If certain PR add their url into this one. The CI test will allow it.
We should move it to lsm-ci project.

[2016-11-01 14:18] tasleson commented on #225
The lsm-ci code fetches the trusted file from:

[code]
so until the PR is merged any changes to it would be ignored.

[2016-11-02 07:53] cathay4t commented on #225
Oh, I didn't read that part. Thanks. Closing this issue.

[2016-11-02 07:53] #225 closed

[2016-11-02 20:54] tasleson opened #227 "Test py2 client with py3 plugins and vice versa"
This can be done with just the simulator, to ensure the marshaling etc. works as expected.

[2016-11-02 20:55] tasleson commented on #206
After researching this one some, I've not located a way to address this.

[2016-11-03 02:15] cathay4t commented on #206
Me neither. I tried to trick traceback module but apparently python is using a C extension for error handling. Haven't got a chance to ask upstream or read C code yet.

[2016-11-04 15:52] #223 closed

[2016-11-09 17:10] joehandzik opened #228 "De-brand "HP Smart Array" to "Smart Array:"
Since Microsemi is the steward of Smart Array technology now, they've started down the path of de-branding tools and products (no longer "HP" or "HPE", after all).

The day will come eventually where you'll find a Smart Array in a Dell box (for example). It wouldn't make much sense to leave the current Smart Array plugin as-is when that starts to happen.

Just an FYI that I will take on the respon

[2016-11-09 17:13] joehandzik opened #229 "Support exposing multiple systems of data"
I'm not sure on the exact best way to implement this, but going forward you could definitely see cases where a user would want to query multiple vendor devices without switching between plugins explicitly. Could we enable, at the very least, the ability to list multiple endpoints to query? Something like:

LSMCLI_URI="hpsa://,megaraid://"

Any other thoughts would be appreciated!

[2016-11-09 17:25] tasleson commented on #229
Whatever the approach is, it needs the ability to accommodate a separate URI and password for each different device.

[2016-11-09 17:30] joehandzik commented on #229
@tasleson Would a config file be more appropriate, then?

[2016-11-09 17:46] tasleson commented on #229
@joehandzik Yeah, probably.  We actually have some support for a config file.

[code]

 Would need to enhance it.  Storing passwords in a file is problematic though.

[2016-11-09 19:54] joehandzik commented on #229
@tasleson RE: plaintext passwords - Yeah, this is a real problem. Smart Array actually leverages an EKMS for drive encryption because of that fact (local encryption is an option too, but only as safe as access to the host filesystem is). Currently though, wouldn't a user need to add the password as an environment variable to avoid typing it in at the command line? Maybe we just need a better answe

[2016-11-10 15:46] tasleson opened #230 "Mailing lists: fedorahosted is being shut down"
ref. https://communityblog.fedoraproject.org/fedorahosted-sunset-2017-02-28/

Our mailing lists:
- libstoragemgmt-devel@lists.fedorahosted.org
- libstoragemgmt-users@lists.fedorahosted.org

We may need to find a new home for these.  Will update this issue when we have confirmation on what is going to happen with the lists.

[2016-11-10 16:35] tasleson commented on #230
https://communityblog.fedoraproject.org/fedorahosted-sunset-2017-02-28/ has been updated to reflect that the mailing lists will unaffected.

[2016-11-10 16:35] #230 closed

[2016-11-16 17:05] #203 closed

[2016-11-18 16:16] tasleson opened #234 "Make plugin_test.py safe to run concurrently on same array"
@cathay4t ran into some intermittent CI test failures yesterday.  This was caused because at the time the CI tests were started the arrays in the CO lab were in the middle of a daily test run which is initiated by a cron job.  The tearDown functions try to clean up everything that was created for each unit test, which caused it to step on the other test run by deleting things it just created.

Som

[2016-11-18 19:53] tasleson commented on #234
OK, I don't think this is going to be possible to make solution 1 work.  I was trying this out locally with the nstor plugin and this just isn't going to be feasible.  The main problem is the plugins typically have to make more than 1 call into the array to retrieve the information needed to fulfill 1 libStorageMgmt API call.  An example:

[code]
In this example we are getting a list of access gro

[2016-11-22 17:23] tasleson commented on #234
Best attempt is merged.  This should improve things.

[2016-11-22 17:23] #234 closed

[2016-12-14 12:13] cathay4t opened #238 "[RFC] Merging local HBA RAID plugins."
Initial ideas:
 * Create a plugin named as `local` to hold code of `hpsa` and `megaraid` plugins.
 * Searching PCI devices which use `hpsa` and `megaraid` driver via sysfs[1].
 * Add support of SCSI enclosure.
 * Raise `INVALID_ARGUMENT` error on missing `hpssacli` or `storecli` tools at plugin register.
   URI parameter `ignore_missing_bin=true` may disable this.

Updates:
 * Keep both `local` pl

[2016-12-14 19:51] dwlehman opened #239 "Consistency of vpd83 and vendor extension"
Is there any reassurance with regard to consistency where vpd83 and vendor extensions are concerned? I was just playing around and found that the vpd83 for an hpsa and megaraid volume both included vendor extension (as indicated by udev). This is not a problem for me, but I'm wondering if I can rely on this for all volumes.

Example python code and corresponding udev data:

[code]
[code]

[2016-12-14 20:42] joehandzik commented on #238
@cathay4t This looks like a good start. I think that we should allow both independent plugins to exist as well, in case a user knows they don't want to see an error anytime storcli or ssacli is not installed. Not sure that I like the ignore_missing_bin idea to be the only way to avoid that error message. Though maybe there could be a single plugin named local, and the logic could be:

local:// - r

[2016-12-15 16:56] cathay4t commented on #238
I like the idea of keep both independent and all-in-one plugins.
One trivial change is `local:// - require certain binaries if supported RAID card found.`

[2016-12-15 17:37] cathay4t commented on #239
In libstoragemgmt document we define `vpd83` string as `SCSI VPD83 NAA ID`, it has nothing to do with udev properties.
In most cases[1], libstoragemgmt `vpd83` string will be udev `ID_WWN_WITH_EXTENSION`.

Whatever name used by udev for disk has nothing to do libstoragemgmt API. If user want to identify disk by libstoragemgmt `vpd83` string, they should use C `lsm_local_disk_vpd83_search()` or pyt

[2016-12-15 17:39] cathay4t commented on #239
BTW, you should always use `ID_WWN_WITH_EXTENSION` as that's the ID used for `/dev/disk/by-id/wwn-<ID_WWN_WITH_EXTENSION>`.

[2016-12-15 17:44] jumitche commented on #238
Features like NFS exporting will use the same code for any of the 'local system' drivers, be that hpsa, megaraid, lvm, or none of the above.  Would it be better to have a plugin that does only the nfs features, and have the user need to open it seperately, or can there be some kind of virtual/common plugin, where the same features, calling the same one set of code, can appear in multiple plugins ?

[2016-12-15 18:38] joehandzik commented on #238
@jumitche I'm wondering if there are some unannounced things that I don't know about behind your comment (the use of "NFS exporting" and "will" in the same sentence imply to me that that's an upcoming feature :) ), but I will point out that we started building the lsm_local_disk_* commands this year, which use SCSI/ATA/NVMe standards to communicate with disks that are exposed to the host. Those AP

[2016-12-16 09:21] jumitche commented on #238
@joehandzik sorry, bad choice of language, i blame too many years working in closed shops :)

What i was trying to get at is that libstoragemgmt already supports setting up of nfs exports for its plugins right, but at the moment that is only supported by a subset of them, and notably by none of the 'local' raid controller plugins, I was proposing to add that missing support to those plugins, with

[2016-12-19 17:48] joehandzik commented on #238
@jumitche Haha, no worries. I understand now (I think).

@tasleson and @cathay4t can correct me if I'm wrong, but any NFS export support is going to be implemented on a plugin-by-plugin basis because that feature is vendor-specific (EMC/Dell SAN nfs exports are not the same code as any other nfs export).

So, we would need to create a vendor-agnostic feature to support that, as you suggest. Right

[2016-12-30 13:02] cathay4t commented on #135
@joehandzik Any change to review my code in [libnvme][1]? I am planing to use it for NVMe support in libstoragemgmt.

[1]: https://github.com/cathay4t/libnvme

[2016-12-30 13:16] cathay4t commented on #238
@jumitche Could you list use cases of NFS? We could find out where we should place the code.

Use case example:
 * Create an folder `/somewhere/foo`
 * Create an NFS export `foo` using folder `/somewhere/foo` with root access, rw access, ro access settings. We have( or don't have) API for this.
 * Change NFS export authentication type to `balala`. We have( or don't have) API for this.

[2016-12-30 13:22] cathay4t commented on #224
Closing. Please follow up in PR #237

[2016-12-30 13:25] cathay4t commented on #179
Closing as it works for me and no feedback for months.

[2016-12-30 13:25] #179 closed

[2016-12-30 13:26] cathay4t commented on #178
Closing as it works for me and no feedback for months.

[2016-12-30 13:26] #178 closed

[2017-01-03 20:09] joehandzik commented on #135
@cathay4t Hey, sorry for the delay, back online after the holiday break. I'll take a look and see if I find anything. I assume all this code will be brought into libstoragemgmt? Or will your libnvme remain a separate repository?

[2017-01-03 21:40] joehandzik commented on #135
@cathay4t An initial pass through the source went fine, I think it looks really good actually! I may have more detailed feedback when we see how it fits in with libstoragemgmt itself. But I think it's in a state where a PR would be the next step. Do you happen to have documentation on what hardware you're testing this against? We have some NVMe here at HPE, but I would find it useful to have an in

[2017-01-04 02:07] cathay4t commented on #135
@joehandzik The libnvme will be in separate library in order to expose more features than libstoragemgmt needs.

I only tested on Intel DC P3700 which is all I have right now, it's a old NVMe SSD [which only support NVMe SPEC 1.0][1]. I have updated the `README` file of libnvme to note down tested hardwares.

The code has zero vendor specific code, purely based on NVMe SPEC 1.0+. You make try thes

[2017-01-04 02:14] cathay4t commented on #224
Closing. Please follow up in PR #237

[2017-01-04 02:14] #224 closed

[2017-01-04 12:42] jumitche commented on #238
The NFS exporting functionality is already there in several of the plugins, are there no such use cases from the planning of the existing features ?  I was looking just to finish that work and make it available for all the plugins where practical, but the more i look at it the more broken the existing design seems to be, this division of the hosts into arbitrary categories of no_root_squash, ro, r

[2017-01-04 14:56] tasleson commented on #238
I'll take full responsibility for any muck-ups here.  We can certainly add an additional call that removes any deficiencies, but be warned that implementing it across all the different implementations may prove difficult.

[2017-01-05 14:34] cathay4t commented on #239
@dwlehman Did I answer your concern?

[2017-01-06 08:45] cathay4t commented on #142
@mulkieran Thanks. I will give a sphinx a try. The kernel is also using sphinx now.

[2017-01-06 13:56] cathay4t commented on #142
The sphinx seems doesn't have good way for C documentation in code comments. The kernel is using `kernel-doc` tool to generate rst files from C source code comments and sphinx takes work from there.

The kernel way seems a quite complex setup of sphinx to me. I will try manpage only way first.

[2017-01-06 16:05] cathay4t commented on #142
Closing. Please continue discussion in PR #240. Thank you.

[2017-01-06 16:10] cathay4t commented on #49
Closing. Will create new issue when we really need a major version bump.

[2017-01-06 16:10] #49 closed

[2017-01-11 15:23] cathay4t commented on #238
@jumitche

Can this be done by storaged or other library? You may use libstoragemgmt local disk API to find out the newly create volume via `lsm.LocalDisk.vpd83_search()` using the new volume vpd83 property.

It seems better fit in to a NFS plugin. Then we use it in local plugin. Any issue you got when adding the new NFS plugin to support this?

[2017-02-08 08:05] cathay4t opened #244 "plugin_test will fail on targetd plugin when both normal lvm vg and thinp pool configured."
The `def _replicate_test()` invoke `self._volume_create()` which does not chose thinp pool while targetd only allows replication copy on thinp volume.

[2017-02-08 08:05] cathay4t commented on #244
Workaround around would be remove normal lvm vg from targetd config.

[2017-02-08 08:21] jumitche commented on #238
I have submitted a pull-request #243 with a first cut of an nfs plugin.
As a compromise between the multiple-hosts-one-option-set of the api, and the one-host-per-option-set nature of the exports file, any add request with multiple hosts gets split out into one entry per host, so that there is one line in the file for each host+path pairing, that pairing is also used to generate the exportid strin

[2017-02-08 08:42] cathay4t opened #245 "which error code should I use for targetd ssl auth failure?"
[code]

[2017-02-08 08:44] cathay4t opened #246 "Got plugin bug when use non-ssl URI to connect a ssl targetd."
[code]

[2017-02-08 20:55] tasleson commented on #245
We really don't have an error for this, we can certainly add an error code for invalid certificate or use ErrorNumber.NETWORK_ERROR with the Certificate Error in the error message text.

[2017-02-08 20:56] tasleson commented on #246
I see that some other plugins will try both ssl & non-ssl when they get errors, not sure what we want to do for this.

[2017-02-22 19:12] dwlehman commented on #238
(Chiming in very late) @cathay4t While your proposal here looks good to me, I don't see it as being very high on your priority list unless users other than me would actually be interested in using this.

[2017-02-22 19:19] joehandzik commented on #238
@dwlehman For our use cases at HPE, we want this too. It just makes pitching libstoragemgmt easier as a component of the solution when the user can effectively use megaraid and smart array tooling interchangeably under the covers.

[2017-02-23 16:14] dwlehman commented on #238
@joehandzik good to know. I agree that it is a nice simplification for users.

[2017-02-24 13:20] cathay4t commented on #238
@joehandzik I will draft the POC for this as we seems got enough +1

[2017-02-24 15:45] cvedel opened #251 "python3 support typo in the hpsa plugin"
In volume_raid_create, a call to list was added at the wrong level in an expression:
`sys_id = list(_sys_id_of_ctrl_data(sys_output.values()[0]))`
Should be:
`sys_id = _sys_id_of_ctrl_data(list(sys_output.values())[0])`
This causes a wrong pool id to be searched for (`['P', 'D', 'S', 'X', 'L', '0', 'B', 'R', 'H', '7', 'V', '0', '8', 'J']:Array:D`) and the method fails.

[2017-02-24 15:48] joehandzik commented on #251
@cvedel You basically already have the fix figured out, are you sure you don't want to make the change and get credit for the fix? :)

[2017-02-24 21:22] #251 closed

[2017-02-27 20:19] joehandzik opened #256 "HPSA plugin: Drives labeled 'Predictive Failure' register with a state of 'Other' in lsmcli"
Caught this as I was testing on a node with a drive known to be SMART tripped. I'll fix it.

[2017-03-20 17:00] tasleson commented on #206
AFAIK this one we cannot solve, closing.

[2017-03-20 17:00] #206 closed

[2017-03-28 20:52] joehandzik opened #258 "ssacli controller name outputs for 'show detail' and 'show status' do not match"
This was found on ssacli version 2.65.7.0. The output from 'ssacli ctrl all show status' is missing the trailing (HBA Mode) value, which causes a KeyError when the output from 'ssacli ctrl all show detail' is used as an index into the status output.

[2017-03-28 20:55] joehandzik opened #259 "Structure for fixed sense data is incorrect in libsg"
It should actually be one byte longer for the first "don't care" array. Found out because I actually do care for some of my SMART Status code. Patch incoming.

[2017-03-29 11:39] #259 closed

[2017-03-29 15:22] #258 closed

[2017-04-05 13:44] cathay4t opened #265 "Add support of NVMe for SMART."
It's in `Log Identifier 02h` of `Admin Command Set`.

These keys might help:
 * Critical Warning
 * Available Spare vs Available Spare Threshold
 * Percentage Used (life vs vendor predicted life)
 * Composite Temperature (Feature Identifier 04h)

[2017-04-05 13:46] cathay4t commented on #265
I am not sure when I could allocate time for this, but since I already have code for NVMe IOCTL(in my libnvme demo), it should not take a long time.

[2017-04-05 13:53] joehandzik commented on #265
@cathay4t I have not started any work on NVMe yet, but my hope would be that NVMe supports something analogous to SMART Status. These look more like SMART attribute or device statistic analogs, which is something that we still need to figure out how to surface for SCSI and ATA as well.

So, it would seem that all these values would go along with my planned device statistics work, and we might pinc

[2017-05-17 15:23] cathay4t opened #267 "Need example code/script in source code."

[2017-05-18 09:27] plusky opened #268 "build fails with gcc7"
In openSUSE we are seing build failures with gcc7:
[code]

[2017-05-18 14:44] tasleson commented on #268
Yes, the newer gcc is better about catching when truncation is possible, will take a look at thanks!

[2017-05-18 14:45] cathay4t commented on #268
@plusky Thanks for the report. We will take a look on it and fix it ASAP.

[2017-05-19 20:35] tasleson commented on #268
@plusky I'm at a loss looking at this one, thinking it's a false positive based on reviewing the line in question.  Additionally I'm not getting an error using Fedora 26 with gcc 7.1.1 and ensuring that `-Werror=format-overflow` is set.  I will setup a openSUSE VM to try and reproduce, what version?

Additionally, If you could try one or both of these changes and see if it helps, that would be gre

[2017-05-22 07:02] plusky commented on #268
Issue seems to be resolved by following patch: [0001-Simc-plugin-Fix-gcc-warning-on-fallthrough-switch.patch](https://build.opensuse.org/package/view_file/Base:System/libstoragemgmt/0001-Simc-plugin-Fix-gcc-warning-on-fallthrough-switch.patch?expand=1)

[2017-05-22 13:05] tasleson commented on #268
@plusky I'm really confused now.  The bug was reported in a compiler error for file `libses.c` and it's resolved with a patch that changes `ops_v1_2.c`?

[2017-05-22 16:03] cathay4t commented on #268
@tasleson Tried on OpenSuSE tumbleweed(Like Fedora rawhide) for GCC7, works well for master brunch.

[code]

@plusky Could provide more detail on how to reproduce this problem?

[2017-05-22 20:31] plusky commented on #268
Build was failing at [build service](https://build.opensuse.org/package/show/openSUSE:Factory:Staging:Gcc7/libstoragemgmt) and issue was tracket at [openSUSE bugzilla](https://bugzilla.opensuse.org/show_bug.cgi?id=1038700) however it seems not to occur anymore. Sorry for the noise and thanks for looking into it.

[2017-05-22 21:59] #268 closed

[2017-06-13 12:58] cathay4t commented on #227
Fixed in PR #271

[2017-06-13 12:58] #227 closed

[2017-06-28 09:38] Thetacz opened #274 "lsmcli -h confusion prevention / consistency changes"
Some of command descriptions in `lsmcli -h` are not descriptive enough to prevent confusion, could use some syncing with manpage. Also there are some inconsistencies. Examples:
[code]
`volume-replicate` is nice, but `volume-replicate-range` could be change to something like `Replicates a portion of a volume to existing volume`, as now it seems like it will create a new one, same way as `volume-rep

[2017-06-28 21:25] tasleson commented on #155
I took a peek at this today:

[code]

As we are using `calloc` the array elements are already zero'd :-)

[2017-06-28 21:25] #155 closed

[2017-06-29 13:16] tasleson commented on #142
This has been merged.

[2017-06-29 13:16] #142 closed

[2017-07-06 12:29] cathay4t opened #280 "Library should check duplicate entry in `rw-host` and `ro-host` before sending to plugin."
[code]

This kind of check should be handle by library, not plugin.
Also got similar error using nfs plugin in PR #257

[2017-07-17 14:11] cathay4t opened #282 "`cert_file` into ontap and smispy plugin URI parameter."

[2017-07-18 22:27] tasleson opened #283 "AX_CHECK_COMPILE_FLAG not supported on autoconf for EL6"
When trying to do a build on EL6 I was getting an error:

[code]

After commenting out the following lines I was able to build.
[code]

[2017-07-19 10:54] cathay4t commented on #283
I failed to find a workaround for this.
I tried to use
[code]

But the autoconf does not allow `AC_CONFIG_MACRO_DIR` in if block.

[2017-07-24 13:01] tasleson opened #285 "RFE: Golang client bindings"
It would be useful to have golang client bindings and even plugin side bindings too.

[2017-07-24 13:02] tasleson opened #286 "RFE: Rust-lang client bindings"
It would be useful to have rust-lang client side and plugin side bindings.

[2017-07-24 13:06] tasleson commented on #245
Addressed with https://github.com/libstorage/libstoragemgmt/pull/281

[2017-07-24 13:06] #245 closed

[2017-07-24 18:51] tasleson commented on #166
Addressed with https://github.com/libstorage/libstoragemgmt/pull/279

[2017-07-24 18:51] #166 closed

[2017-07-24 18:53] tasleson commented on #246
Addressed with https://github.com/libstorage/libstoragemgmt/pull/281

[2017-07-24 18:53] #246 closed

[2017-07-24 18:54] tasleson commented on #175
Addressed with https://github.com/libstorage/libstoragemgmt/pull/275/

[2017-07-24 18:54] #175 closed

[2017-08-02 08:20] cathay4t commented on #238
PR #288 submitted. Closing.

[2017-08-02 08:20] #238 closed

[2017-08-02 08:21] cathay4t commented on #229
@joehandzik Can PR #288  fix this issue?

[2017-08-02 08:27] cathay4t commented on #228
I believe a moderate way to do this is:
 * Create `'smartarray://'` (or other name) plugin.
 * Keep the `hpsa://` plugin and change its `hpsa_lsmplugin.in` to load above new plugin instead.
 * Change `hpsa` plugin to print a message indicate the deprecated. The `print()` message will be
   held by systemd or syslog.

[2017-08-02 15:37] joehandzik commented on #228
I think that sounds like a reasonable plan. I've been tied up in another project lately, but let me see if I can carve out some time to get this done in the next week or two.

[2017-08-04 15:19] #229 closed

[2017-08-17 17:59] joehandzik opened #291 "One bad disk response causes local-disk-list to fail entirely"
Logging this here in case anyone has a different opinion, but I was walking someone through using libstoragemgmt on a Gen10 ProLiant, and we ran into an unhandled return code on his box for one of the operations executed in local-disk-list. Unfortunately, that prevents all further operations from executing. So, we'll want to do something else other than raising the errors that come out from operat

[2017-08-18 13:25] cathay4t opened #292 "Support of bsg in libses.c"
Currently we need user to load `sg` kernel module to do any SES actions.

Since `bsg` module provides full functions as `sg` did, and `bsg` is build in to kernel in RHEL and Fedora, we should support `bsg` and treat `sg` as fallback.

[2017-08-22 07:41] cathay4t commented on #291
@joehandzik Good point.
How about we change lsmcli only print a error line instead of falling the whole command?

[2017-08-22 14:16] joehandzik commented on #291
@cathay4t That's basically what I've done as a workaround. I should have self-assigned this, since I have something complete already. Just working through another bug before submitting a PR.

[2017-08-22 21:41] tasleson commented on #291
Was the error in retrieving the list of local disks or when we were gathering more information on each disk?

[2017-08-22 21:54] joehandzik commented on #291
@tasleson Gathering information phase. We think we actually tracked it down to an SD card that was hitting an area where we passed up an error instead of just returning NO_SUPPORT.

[2017-08-28 15:46] tasleson opened #296 "Man page correction for 'file-clone'"
https://bugzilla.redhat.com/show_bug.cgi?id=1485279

[2017-08-28 15:47] tasleson opened #297 "Man page correction for 'fs_unexport'"
https://bugzilla.redhat.com/show_bug.cgi?id=1484927

[2017-08-28 15:49] tasleson opened #298 "lsmcli ValueError Exception for system-read-cache-pct-update --read-pct"
https://bugzilla.redhat.com/show_bug.cgi?id=1485273

[2017-08-31 08:52] cathay4t commented on #192
Fixed in PR #299

[2017-08-31 08:52] #192 closed

[2017-09-01 07:19] cathay4t commented on #292
Fixed in PR #300

[2017-09-01 07:19] #292 closed

[2017-09-06 19:34] tasleson opened #301 "ontap plugin - got KeyError: 'size-total'"
https://bugzilla.redhat.com/show_bug.cgi?id=1488085

[2017-09-12 14:17] cathay4t opened #303 "Enable gcc checkings on c++ codes and fix all the warnings."
This patch will enable all gcc checks on C and C++ codes.
[code]

We have to fix a lot warnings after that patch also.

[2017-09-19 13:39] cathay4t commented on #291
Closing since fix was merged.

[2017-09-19 13:39] #291 closed

[2017-09-19 14:21] cathay4t opened #305 "Tracking issue for libstoragemgmt 1.5 release"
* Due to issue #283, we may need to drop support of  RHEL 6 in this releease.
 * Should we raise requirement to python2.7 since python 2.6 is not supported in upstream?
 * How about set the release date at 31 Oct 2017?

[2017-09-19 14:22] cathay4t commented on #305
@joehandzik @tasleson Any issue you want me to fix in 1.5 release? And any input on above?

[2017-09-19 14:25] cathay4t commented on #301
Closing since the reporter failed to reproduce this issue and NetApp API document indicate the `size-total` key is mandatory

[2017-09-19 14:25] #301 closed

[2017-09-19 14:26] cathay4t commented on #305
I intend to fix these issues before 1.5 release:

 *  Enable gcc checkings on c++ codes and fix all the warnings.  #303
 * Handle Pool.STATUS_VERIFYING in ONTAP and MegaRAID plugin. #26
 *  `cert_file` into ontap and smispy plugin URI parameter.  #282

[2017-09-25 08:30] cathay4t commented on #303
Fixed in PR #306. Closing.

[2017-09-25 08:30] #303 closed

[2017-09-25 13:39] cathay4t commented on #26
MegaRAID part is fixed in PR #307.
Due to some issue, I don't want to fix the NetApp part. Closing.

[2017-09-25 13:39] #26 closed

[2017-09-26 12:59] cathay4t commented on #282
@tasleson Just few ideas need your input:
 * Can we rename the ONTAP plugin URI parameter to `ca_cert_file`? `cert_file` might confused with x509 cert authentication.
 * `lmiwbem` does not support defining ca cert file and has no patch come in for 2+ years. Can we drop the support of it? It was introduced for python3 support, since pywbem now support python3 quit well and very actively developing

[2017-09-26 13:04] cathay4t commented on #282
Meanwhile, RHEL 6 version of pywbem support ca cert file quit well.

[2017-09-27 14:39] cathay4t commented on #282
Fixed in PR #308

[2017-09-27 14:43] #282 closed

[2017-09-27 14:43] cathay4t commented on #283
RHEL/Centos 6 is not support in 1.5 branch any more. Closing.

[2017-09-27 14:43] #283 closed

[2017-09-28 11:55] cathay4t commented on #239
No reply and closing.

[2017-09-28 11:55] #239 closed

[2017-09-30 16:27] cathay4t commented on #298
Fixed in PR #311

[2017-09-30 16:27] #298 closed

[2017-09-30 16:27] cathay4t commented on #297
Fixed in PR #311

[2017-09-30 16:27] #297 closed

[2017-09-30 16:27] cathay4t commented on #296
Fixed in PR #311

[2017-09-30 16:27] #296 closed

[2017-09-30 16:27] cathay4t commented on #280
Fixed in PR #311

[2017-09-30 16:27] #280 closed

[2017-09-30 16:27] cathay4t commented on #274
Fixed in PR #311

[2017-09-30 16:27] #274 closed

[2017-09-30 16:34] cathay4t commented on #305
@tasleson You don't have to run covscan for me. I ran and found some issue of libsg.c code and will work on it after I back from holiday.
 * The `_sg_io_v4` is incorrect using memset: `memset(&io_hdr, 0, sizeof(struct sg_io_hdr));`
 * Adding more document for ata pass through so that future maintainer don't have to read SPC and ATS pdfs again.
 * Rename functions and constants to fit into current

[2017-10-09 16:53] cathay4t commented on #305
Covscan warnings has been fixed in PR #313

[2017-10-09 17:26] tasleson commented on #305
@cathay4t I really dislike the idea of jettisoning EL6 just because we can't specify the same compiler flags in the configure file ref: https://github.com/libstorage/libstoragemgmt/issues/283  There should be something we can do for this...

[2017-10-11 07:38] cathay4t commented on #305
@tasleson I tried, but no luck. We may explicitly add `-Wall` and etc CPPFLAGS without checking, but it
is seems not a best practice.
I intend to drop EL6 support are mainly because of `python-2.6`, many features we are using in python library are only exists in 2.7 or 3.x. Red Hat just happen to ported all we need into EL6. To continue supporting EL6, it requires us to test our code on EL6 python

[2017-10-23 15:13] cathay4t commented on #305
Closing. 1.6 released.

[2017-10-23 15:13] #305 closed

[2017-10-23 15:14] cathay4t opened #317 "Need a 1.6.1 release."
* Need to include regression fix: addcda46f47f62ad86c572c0499399ace0c4955b
 * Wait a bit longer to see whether we still have fixes to include.

[2017-11-14 14:14] cathay4t commented on #317
Released. Closing.

[2017-11-14 14:14] #317 closed

[2017-11-14 14:15] cathay4t opened #320 "Missing C API `lsm_access_group_init_type_get()`"

[2018-01-23 22:30] seitzbg opened #324 "Can you add support for packaging this in Debian as well?"
I see you have RPM based spec files however nothing for Debs.  Would it be possible to add support for this as well?

[2018-01-23 22:41] joehandzik commented on #324
Hey @seitzbg, I was working on this but as priorities shifted at work I wasn't able to continue. Here's the branch I had working for an official Debian build if you want to use it as inspiration to get something working: https://github.com/joehandzik/libstoragemgmt-1

Alternatively, you could try converting the RPM to a DEB by way of FPM (https://github.com/jordansissel/fpm). I've had success usin

[2018-01-24 04:52] cathay4t commented on #324
I will take a look on this after my vacation (Feb 26 2018):
 * Provide deb package file in master branch.
 * Try to add libstoragemgmt back to debian official repo: https://tracker.debian.org/pkg/libstoragemgmt

[2018-03-02 14:47] tasleson opened #325 "Change out JSON C library"
We would like to migrate away from yajl due to lack of upstream activity.

[2018-03-02 14:56] cathay4t opened #326 "Remove the use of bit filed in structure."
Using bit field in structure is hard to maintain and might be an issue for big endian system.

I created some function for bit filed manipulation  for nvme kernel.
Maybe we create something similar for our SCSI bit fileds.
The difference between NVMe and SCSI standard on using bit filed:
 * SCSI standard are using bytes numebr + bit number.
 * NVMe standard are using total bit range.

[2018-03-02 16:01] jumitche commented on #325
I've used jansson on other projects and found it quite easy to use, for whatever that's worth.

[2018-03-02 16:21] cathay4t commented on #325
@jumitche Thank you. That's on our list.

[2018-03-05 15:11] cathay4t commented on #324
@seitzbg The pull request https://github.com/libstorage/libstoragemgmt/pull/327 will fix this issue. I am closing this issue. For any follow up comments, please use that pull request page. Thank you.

[2018-03-05 15:11] #324 closed

[2018-03-20 16:04] cathay4t commented on #325
The jasson cannot handle `uint64_t`: https://github.com/akheron/jansson/issues/69

Checking whether we can use rust for json processing without breaking ABI to C client.

[2018-03-21 12:53] cathay4t commented on #194
Closing this issue against PR #330.

[2018-03-21 12:53] #194 closed

[2018-03-23 12:05] cathay4t commented on #325
Using rust for json processing require too much code work, don't worth it unless we fully replace c/c++ code with rust.

[2018-06-14 12:13] jkrysl opened #334 "provide better cleanup for CI test on ontap"
CI tests on ontap target spawn random FS and CHAP, causing some mess on the server:
[code]

[code]

[2018-06-14 13:06] cathay4t opened #335 "The sim plugin should raise INVALID_ARGUMENT when only out_user/out_pass is provided."

[2018-07-20 18:11] mobidyc opened #337 "PLUGIN_BUG(2): _parse_hpssacli_output(): Found duplicate line HPE E208i-a SR Gen10"
Seems to be related to indentation on new Gen10 servers

[code]

below the output of ssacli:
[code]

[2018-07-23 21:15] joehandzik commented on #337
Strange, we definitely have this running across various configurations of Gen10 controllers and haven't seen issues. I'll take a look as time allows and see what I can find.

The message about needing to use a new version of ssacli is a new one to me, and may be worth trying out, just to see if that's causing the variation in output (needs a fix to deal with it either way, but could alleviate your

[2018-07-24 11:53] mobidyc commented on #337
I updated ssacli to the version 3.25.
and the problem disappeared.

[2018-07-24 15:03] cathay4t commented on #337
Great. Do we need to support old ssacli also or just close this issue?

[2018-07-24 16:32] tasleson commented on #337
My preference would be do document the minimum supported version of ssacli and close issue.

[2018-07-25 11:37] cathay4t commented on #337
@joehandzik Which version of ssacli would you suggested to put in the man page of hpsa plugin?

[2018-07-25 22:45] mobidyc commented on #337
I personnaly would prefer that LSM skips an unknown raid card, and continue to the other ones.

In my case ssacli returns an error when I try to access the E208i-a, but as I use only the P408i-p, in command line, there is no issue.

+ I think it will be more difficult to adjust the minimum ssacli version needed each time there is a new controller.

[2018-08-06 13:02] cathay4t commented on #337
Silently skip unknown hpsa might waste more time of user when they actually need that card managed by LSM.

I guess suggest user to upgrade their ssacli in PLUGIN_BUG error message might be better.

[2018-08-24 12:50] cathay4t commented on #337
Include suggestion on ssacli tool upgrade when parsing error in commit https://github.com/libstorage/libstoragemgmt/commit/00e004891fa58c5427e1753d2f16aaff93e60253

[2018-08-24 12:50] #337 closed

[2018-08-24 12:54] cathay4t commented on #286
Client side done at https://libstorage.github.io/libstoragemgmt-rust/lsm/index.html

[2018-08-24 12:54] #286 closed

[2018-08-24 12:54] cathay4t commented on #286
We could add plugin side when needed.

[2018-08-24 14:16] cathay4t commented on #256
@joehandzik Could you provide the output of `ssacli  ctrl all show config detail` for me to fix this issue?
Thank you.

[2018-08-30 12:58] ramanduh opened #340 "PLUGIN_BUG(2): _hp_size_to_lsm(): Got unexpected HP size string 1.0"
Got a PLUGIN_BUG(2) error when running a volume-cache-info query:
[code]
Here is my ssacli version:
[code]
This issue does not happen on older version of ssacli (v ssacli-3.10.3.0). In fact, it seems that the output is changed from ssacli 3.25. If we ran the following command `ssacli ctrl slot=1 show config detail`, we can see the following difference:
[code]

[2018-08-30 14:04] cathay4t commented on #340
Closing as PR https://github.com/libstorage/libstoragemgmt/pull/341 fixed this problem.

[2018-08-30 14:04] #340 closed

[2018-10-01 15:00] tasleson commented on #325
Addressed with https://github.com/libstorage/libstoragemgmt/pull/338

[2018-10-01 15:00] #325 closed

[2018-10-08 16:32] kBite opened #344 "lsmcli -u 'hpsa://' ld - PLUGIN_BUG(2): Expected key missing from SmartArray ssacli output:'Host Serial Number'"
I'm testing `libstoragemgmt` with some older cards like P410i. When using latest `ssacli` (3.30) `lsmcli` fails:
[code]
[code]
Testing different versions of `ssacli` shows problems arise with version 3.25+. 3.10 is working fine. Starting with version 3.25 `ssacli` reports warnings (on _stdout_). Before this version that warning was not returned.
[code]
[code]
`_parse_ssacli_output` happily returns

[2018-10-08 18:21] tasleson commented on #344
Please supply full output of `ssacli ctrl all show config detail` for both the older working version on non-working latest version.  Thanks!

I'm not sure if we've ever run down the path of having a disk with media errors reported, but the status of the device shouldn't be `OK`.

[2018-10-09 08:39] kBite commented on #344
Below you can find the full output of `ssacli ctrl all show config detail` for version 3.25 and version 3.10. The former reports warnings the later does not report. You can find a diff for easier comparision at the end.

Version 3.25:
[code]
Version 3.10:
[code]
*Diff:*
[code]
[code]

[2018-10-09 17:16] tasleson commented on #344
@kBite Thanks for the output.  Just to clarify, when you list disks you are getting more than just 1 when you run the older tool that runs without errors, correct?

@joehandzik I find it quite interesting that this newer tool lists a warning that 2 logical drives which have `Unrecoverable Media Errors`, yet only 1 of the logical drives shows ` 'Unrecoverable Media Errors': 'Detected'`.  Also I wou

[2018-10-09 21:47] tasleson commented on #344
@kBite PR https://github.com/libstorage/libstoragemgmt/pull/345 should address this immediate need.  If you can browse down this [file](https://raw.githubusercontent.com/libstorage/libstoragemgmt/cabea38dffbf02b46e49b2a6b0314b579160a957/plugin/hpsa/hpsa.py) and try it out that would be most helpful, thanks!

[2018-10-18 20:12] tasleson commented on #244
Targetd is getting phased out.

[2018-10-18 20:12] #244 closed

[2018-10-23 16:00] #320 closed

[2018-12-05 15:50] tasleson commented on #335
ref. https://bugzilla.redhat.com/show_bug.cgi?id=1591282

[2018-12-19 15:44] tasleson commented on #335
fixed by: https://github.com/libstorage/libstoragemgmt/pull/353

[2018-12-19 15:44] #335 closed

[2019-01-28 09:14] sharath-t opened #358 "cache related operations/APIs are having issues"
i was trying to implement cache related APIs (volume_write_cache_policy_update) for Arcconf plugin and found that there is an issue in the core  lsmcli module in cmdline.py file.
all the cache related functions `display_data` calls have the same input as that of `volume_cache_info`

below are the sequence of commands that i used

[code]

So, on line 2125 of cmdline.py i want ahead and changed the

[2019-02-23 15:30] cathay4t opened #373 "The `rh_rpm_dependency` does not works on Fedora 29 due to pywbem."
The Fedora 29+ only provides `python3-pywbem`.

If we drop  the support of RHEL 7 as developer environment(we already force `make rpm` as Fedora only), we should update `rh_rpm_dependency` to use `python3-pywbem`.

[2019-02-23 15:30] cathay4t commented on #373
@tasleson Any idea?

[2019-02-23 15:34] cathay4t commented on #373
And python3-devel is missing in `rh_rpm_dependency`

[2019-02-23 15:47] cathay4t opened #374 "Change System.id of arcconf to use Controller Serial Number"
Currently, the `System.id` of arcconf is string like `1`.

This is not a unified id. Use `Controller Serial Number` or `Controller World Wide Name` could be better.

[2019-02-26 12:58] yosshy commented on #135
BTW, storcli for MegaRAID cards can return WNN = NA for disks and it causes INVALID_ARGUMENT error on "lsmcli ld" like below:

[code]

[2019-02-26 13:16] cathay4t opened #376 "Got INVALID_ARGUMENT when storcli return WNN as NA"
BTW, storcli for MegaRAID cards can return WNN = NA for disks and it causes INVALID_ARGUMENT error on "lsmcli ld" like below:

[code]

_Originally posted by @yosshy in https://github.com/libstorage/libstoragemgmt/issues/135#issuecomment-467427926_

[2019-02-26 13:16] cathay4t commented on #135
@yosshy I am creating new issue to trace your issue at #376

[2019-02-26 13:18] cathay4t commented on #376
@yosshy Can you provide more detail on your environment? Like:
 * Which version of storcli you are using?
 * The model of MegarRIAD/PERC you are using.

Thank you.

[2019-02-26 14:08] yosshy commented on #376
I'm using an old MegaRAID controller and the latest storcli. It doesn't officially support the controller but it works well.
[code]

[2019-03-19 17:07] tasleson commented on #373
Maybe we should break the package dependencies out for py2 and py3 into separate files?

[2019-03-27 12:45] hjmallon opened #383 "Unable to control some slot LEDs"
This was also posted to the mailing list but it seems a bit quiet there (sorry for x-post).

I am trying to use libstoragemgmt (via udisks) to control the ident and fault LEDs on a 12-disk storage device with an LSI 9400 SAS card. Everything works except the disk in slot “15” (slots 0, 2, 9 and 11 are not filled due to layout). For which the SAS address is not found in _ses_info_get_by_sas_addr. T

[2019-03-27 12:54] tasleson commented on #383
Just to clarify, the the storage device has 16 slots, but only 12 are filled and the last slot, 15 is missing?  We may need to build a version with more debug unless @cathay4t has some insight into what might be going on.

[2019-03-27 12:55] tasleson commented on #383
@hjmallon Also sorry for not responding on mailing list and thanks for posting here too!

[2019-03-27 12:57] hjmallon commented on #383
Yeah we have 4 backplanes, each 4 slots, but some of them are not filled with disks. All the slot LEDs can be accessed except number 15.

[2019-03-27 13:27] tasleson commented on #383
@hjmallon I think it would be helpful to know what the contents of `/sys/class/bsg/*` look like on your system and the value of each `/sys/class/bsg/<name>/device/type`.

[2019-03-27 13:41] hjmallon commented on #383
[code]

[code]

[2019-03-27 17:50] hjmallon commented on #383
@tasleson I think I have found the issue. I have edited locally and this seems to fix it for me.

I think it is a misunderstanding of the spec (though if you have the most recent SES-3 spec to hand I would appreciate someone checking. The returned SES buffers look like the following in the spec (in the pre-release version I have).

[code]

As you can see the `PAGE LENGTH` is labelled `n - 3`, howe

[2019-03-27 17:55] tasleson commented on #383
@hjmallon Thank you for digging into this.  I'll double check the spec I have.  If you could, please submit a PR with this fix.

[2019-03-27 18:33] tasleson commented on #383
@hjmallon The version of the documentation I have (SES-3 Revision 14) states

```The PAGE LENGTH field indicates the number of bytes that follow in the page.```  Thus I agree that the total number of bytes should be the `PAGE LENGTH + 4`.  The documentation still mentions `PAGE LENGTH (n - 3)` which does seem incorrect to me.

Good find, thanks!

[2019-03-27 19:16] hjmallon commented on #383
It is because they label there buffers 0 - n, which means size == n + 1. So unhelpful....

[2019-03-29 01:42] #383 closed

[2019-03-30 17:07] tasleson commented on #112
The plugin test has a method we are using `_skip_current_test` which calls `self.skipTest` if supported and it appears to be used throughout, so I think we can consider this closed.  We can re-open if I'm missing something.

[2019-03-30 17:07] #112 closed

[2019-04-03 13:45] tasleson commented on #376
Addressed with https://github.com/libstorage/libstoragemgmt/pull/375

[2019-04-03 13:45] #376 closed

[2019-04-08 19:53] tasleson commented on #358
Some simple tests with `megaraid` plugin are working.

Signature of plugin method should be:

[code]

The command line executes this method which appears to be successful for your plugin.  However, after this the command line then retrieves cache information and displays it.
[code]
Based on the stack trace
[code]
It appears that the method `volume_cache_info` for the plugin is returning `None` ins

[2019-04-08 20:13] tasleson commented on #334
@jkrysl Is this still an issue?  I dumped a few things out from the `lsmcli` and the array looked OK?

[2019-04-08 20:16] tasleson commented on #374
@sharath-t Is this something you could help out with?

[2019-04-09 15:16] sharath-t commented on #374
sure, i'll try to take this up in next couple of days.

[2019-04-11 13:41] #374 closed

[2019-04-11 17:40] tasleson commented on #373
Possible solution https://github.com/libstorage/libstoragemgmt/pull/389

[2019-04-11 18:51] tasleson commented on #373
The `runtests.sh` script when it's run with a configure that has been run with `--with-python3` we test python3 client with python2 plugins and vice-versa.  This has worked because fedora supported everything we need for both py2 and py3, but with the later distributions only having python3 support for the libraries we need, I believe we are going to lose ability to test this combination.

In real

[2019-04-11 18:53] tasleson opened #391 "split-man.pl needs to be updated"
Seeing the following in test output
[code]

[2019-04-11 20:59] tasleson opened #392 "Fix _common.py DeprecationWarning"
```_common.py:539: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working```

[2019-04-16 08:25] jkrysl commented on #334
@tasleson It seems there is still some mess being generated:
[code]
And the chap auth mess is still there and it is even worse than before:
[code]

[2019-04-16 16:41] tasleson commented on #334
I actually created a small change to the ontap plugin which would allow us to clean-up CHAP authentication, but then I remembered that 7 mode is essentially EOL and we will no longer have an ability to test 7-mode as of 4/2019.  Thus I am closing this issue and will remove all CI automated testing of ontap plugin.  We will also look at removing the plugin from source tree and packaging.

[2019-04-16 16:41] #334 closed

[2019-04-16 16:43] tasleson commented on #392
https://github.com/libstorage/libstoragemgmt/pull/393

[2019-04-16 16:43] #392 closed

[2019-04-16 16:43] tasleson commented on #391
https://github.com/libstorage/libstoragemgmt/pull/393

[2019-04-16 16:43] #391 closed

[2019-04-16 16:43] #373 closed

[2019-10-07 19:48] angystardust opened #397 "Unable to connect to a NetApp 9.x cDOT"
I was trying to connect to a NetApp cDOT using lsmcli but I have this exeption:
[code]
I've tried with both an ONTAP NetApp Release 9.0P2 and a Release 9.4P2 but had the same results. It does work on an old ONTAP 7mode.

Wondering if lsm support newer ONTAP releases...

Thanks for your support

[2019-10-07 20:00] tasleson commented on #397
NetApp is limited to 7mode which NetApp has removed/deprecated.  At some point we will likely remove the plugin all together from libStorageMgmt as we have lost the ability to test it.

[2019-10-07 20:07] angystardust commented on #397
thanks for the super-fast reply, @tasleson but the question is: "is there a way to connect to an ONTAP cDOT"?

[2019-10-07 20:08] angystardust commented on #397
sorry for asking it again but it isn't clear to me if LSM only supports NetApp 7mode and there is not any way to connect to a recent ONTAP version

[2019-10-07 20:19] tasleson commented on #397
@angystardust No, there is no way to use libStorageMgmt to connect to a cDOT (Clustered data on tap).  I correct my earlier comment too.

[2019-10-07 20:32] angystardust commented on #397
:( uh that's a pity...
i'll find another way to manage my NetApp cDOT snapshots in batch mode (probably ansible)
thanks for the replies ;)

[2019-10-07 20:32] #397 closed

[2019-10-31 16:08] tasleson opened #398 "lsmd: Daemon doesn't prevent running multiple copies using same IPC directory"
The daemon will allow you to run more than one instance at the same time against the same plugin directory and the same IPC directory which causes issues.  We should raise an error and exit when the daemon is started and it conflicts with an existing daemon with the same IPC directory.  We do want to support multiple lsmd processes running concurrently and allowing them to use the same plugins, bu

[2019-10-31 16:20] tasleson commented on #358
@sharath-t Any update on this?

[2019-12-02 12:19] PhoenixMage opened #401 "libstoragemgmt doesn't compile on Alpine Linux (musl)"
Mainly due to only having POSIX stderr_r which I believe is deprecated in favor of stderr_l. I have created a quick and dirty patch to switch to stderr_l and have compiled successfully.

[2019-12-02 12:24] PhoenixMage opened #402 "__GNUC_PREREQ Macro is not available on Alpine"
__GNUC_PREREQ is not guarenteed to be available (and isnt on Alpine)

[2019-12-02 12:27] PhoenixMage opened #403 "Compiler complains about #include <sys/fcntl.h> on Alpine"
In file included from scan-scsi-target.c:24:
/usr/include/sys/fcntl.h:1:2: error: #warning redirecting incorrect #include <sys/fcntl.h> to <fcntl.h> [-Werror=cpp]
 #warning redirecting incorrect #include <sys/fcntl.h> to <fcntl.h>

[2019-12-02 14:47] tasleson commented on #401
If you can supply a PR which addresses the compile issues in a compatible way, we would gladly incorporate it, thanks!

[2019-12-02 16:41] tasleson commented on #401
I believe the issue is related to `strerror_*` family of functions and which one we are using in the library.
[code]

[2019-12-03 00:28] PhoenixMage commented on #401
Sorry it was late, you are correct. I will supply a PR shortly.

[2019-12-03 14:45] tasleson commented on #403
Change merged, thanks!

[2019-12-03 14:45] #403 closed

[2019-12-03 14:45] tasleson commented on #402
Change merged, thanks!

[2019-12-03 14:45] #402 closed

[2019-12-09 15:58] tasleson commented on #401
According to @PhoenixMage this is working now.

[2019-12-09 15:58] #401 closed

[2020-01-17 05:44] ph0en opened #410 "PLUGIN_BUG Arcconf"
Getting error

[code]
while using sample code [Create Volume RAID](https://libstorage.github.io/libstoragemgmt-doc/doc/py_api_user_guide.html#611-create-raid-volume--lsmclientvolume_raid_create) with my edit
`ssd_disks = [d for d in disks if d.name.split()[0] == 'Samsung']`
Also having the same error while trying to use cli
`lsmcli volume-raid-create --uri 'arcconf://' --name 'cli_test_raid' --rai

[2020-02-04 23:36] tasleson commented on #410
Just got back from holiday, will investigate.

[2020-02-07 16:43] tasleson commented on #410
@sharath-t Would you have some time to take a look at this?  I'm looking for hardware to give this a try.

[2020-02-10 04:39] sharath-t commented on #410
Hi @tasleson, Thanks for the mention, i somehow missed the issue email. I will look into this.

meanwhile, @ph0en , may i know which version of lsmcli you are using? The reason is, there has been lot of enhancement to arcconf plugin in [1.8.0](https://github.com/libstorage/libstoragemgmt/releases/tag/1.8.0) . request you to try with 1.8.0+ version if you have not already.

Regards,
Sharath TS

[2020-02-10 06:17] sharath-t commented on #410
@ph0en
the command is creating volume as required in my set up. attaching screenshot for you reference.

![image](https://user-images.githubusercontent.com/45253441/74125209-a166d680-4bfa-11ea-9ff5-352ab18dd07e.png)

However, on completion of command, the output is not that is expected " PLUGIN_BUG(2): volume_raid_create(): Got unexpected count(not 1) of new volumes: [] " This is due to error in a

[2020-02-11 09:20] ph0en commented on #410
@sharath-t  libstoragemgmt-arcconf-plugin version is 1.7.3-3.el7 from CentOS 7 base repo.
Getting error on Adaptec 6805T now. Don't sure what controller version was during last error.
Where can I download 1.8.0+ rpm?

[2020-02-11 10:01] sharath-t commented on #410
Hello @ph0en , Thanks for confirming the version.

i am not sure if rpm is available for 1.8.0+ @tasleson ?

you may have to build from the source code. use https://github.com/libstorage/libstoragemgmt/archive/master.zip link to get latest source code.

[2020-02-11 15:02] tasleson commented on #410
@ph0en @sharath-t CentOS 7 release are from RHEL7 which at this point I don't think we'll be picking this up ...  I'll create some rpm's and make them available for you to address this issue.

[2020-02-14 22:07] tasleson commented on #410
@ph0en I built some packages for CentOS 7 using the latest release.  Hope this helps: https://fedorapeople.org/~tasleson/lsm/centos7/

[2020-02-14 22:07] #410 closed

[2020-03-19 22:09] tasleson opened #418 "Simplify JSON handling"
We have `yajl` for older platforms and `nlohmann/json` for newer platforms which have better compiler support.  This works, but it would be nice to have one simple implementation that works for all.

Low priority as we have something that works.

Related:
https://github.com/libstorage/libstoragemgmt/issues/325
https://github.com/libstorage/libstoragemgmt/pull/338

[2020-05-11 10:10] cstoyanov-scality opened #419 "With the HPSA plugin, lsm fails to list physical disks when encryption is enabled on the controller"
### Versions

- libstoragemgmt = 1.7.3 ; 1.8.0
- ssacli = 3.30.13.0 ; 3.40.3.0 ; 4.17.6.0

### How to reproduce

- Set the RAID controller with the encryption feature enabled

[code]
- (optional) Create a logical volume

[code]

- Execute the following command: `lsmcli -u hpsa:// ld`

[code]
By the way, the same error is raised by using the python API.

[code]

### Diff with encryption disabled

W

[2020-05-12 06:27] cstoyanov-scality opened #420 "lsmcli -u hpsa:// ld PLUGIN_BUG(2): Expected key missing from SmartArray ssacli output:'Serial Number'"
* libstoragemgmt version: 1.7.3 and 1.8.0
* ssacli version: 3.30, 3.40 and 4.17

### Description

When the Serial Number of the physical disk cannot be retrieved, lsmcli fails with a PLUGIN_BUG error. For example:

[code]

Depending on the way the disk is broken, the ssacli report can contains or not some info. In the hpsa plugin of lsm, some information are expected to exist (if not, it raises wi

[2020-05-12 15:35] tasleson commented on #420
@cstoyanov-scality Thanks for creating the issue, please open a pull request for review and inclusion.  Thanks!

[2020-05-12 15:38] tasleson commented on #419
@cstoyanov-scality Thanks for creating the issue, please open a pull request for review and inclusion.

[2020-05-20 19:16] #418 closed

[2020-06-25 13:55] tasleson commented on #285
https://github.com/libstorage/libstoragemgmt-golang

[2020-06-25 13:55] #285 closed

[2020-06-29 18:57] tasleson commented on #358
Closing as no response.  Please open a new issue if the problem persists.

[2020-06-29 18:57] #358 closed

[2020-07-24 14:48] tasleson commented on #419
Any update on this?

[2020-08-10 13:00] cstoyanov-scality commented on #419
Yes it is ready. I need rights to push my branch before creating the PR. May I miss something in the process to follow?

[2020-08-10 13:46] tasleson commented on #419
The basic work flow is to fork libStorageMgmt repository, clone your fork, create a branch, make your changes and commit them and then push to your repository and then make a pull request to have your changes merged into libStorageMgmt repository.  See this for in-depth details: https://blog.scottlowe.org/2015/01/27/using-fork-branch-git-workflow/

If this all seem too involved, you are welcome to

[2020-08-11 13:04] cstoyanov-scality commented on #419
I've created the PR. Let me know if you want me to change something in the way I've created it.

[2020-08-11 14:22] tasleson commented on #419
The PR was created just fine, thanks!  I'll review today.

[2020-08-11 16:01] tasleson commented on #420
When picking default values for things that are not available, we need to keep them the same type.  For example when we cannot retrieve the `blk_size` or `blk_count` the values should be numeric, not "N/A".  Also if a value is being used to uniquely identify a resource and that value is not available, we need to come up with another means of creating an ID which can be used to uniquely identify it

[2020-08-26 14:42] tasleson commented on #419
Resolved with https://github.com/libstorage/libstoragemgmt/pull/429

[2020-08-26 14:42] #419 closed

[2020-08-26 14:49] tasleson commented on #420
@cstoyanov-scality Any update on this one?  Does my comment above make sense?

[2020-10-19 07:13] quayuan opened #432 "NO_SUPPORT(153): Failed to find any SCSI enclosure with given SAS address"
I compiled and installed libStorageMgmt on ubuntu18.04.

The test functionality is available after I have installed it through source compilation:

[code]

But when I controlled the start of the disk LED light through `lsmcli`, the following error was returned to me:

[code]

Try another disk on the same machine and report the following error：

[code]

This is my disk case

[code]

I want to know

[2020-10-19 13:33] tasleson commented on #432
You're missing the needed hardware support for SCSI enclosure services.  This is typically a feature of external disk storage enclosures.

[2020-10-23 20:04] #432 closed

[2020-10-23 20:06] tasleson commented on #420
I'm going to be rolling a new release next week.  If you would like this to be included please supply a patch to mailing list or PR soon. Thanks

[2020-10-30 19:26] #420 closed

[2020-11-03 15:34] kloczek opened #439 "1.8.6: test suite is failing"
[code]

[2020-11-03 16:22] tasleson commented on #439
Problem stems from

[code]

Unfortunately I don't have enough information from what you've provided to determine why the shared library is missing.

It would be helpful to know what distro you are using and what configure options etc. to debug this.

Our automated travis CI is testing EL6/7/8, fedora 33, and ubuntu 18.04

From looking at our script that sets up the unit test environment it looks l

[2020-11-03 18:00] kloczek commented on #439
I'm using my own distro which is fedora rawhide based (with tons of bugs fixed).
In spec files I have:
[code]
Which as you see points $PYTHONPATH to buildroot so theotretically this should be OK to provide path to just build and installed module but it not does not work.

Other thing which I just foud is that you are installing lms/_clib.so in python sitelib which on 64bit arch is `/usr/lib/python

[2020-11-03 18:44] tasleson commented on #439
The `check` target is setting `PYTHONPATH` in the test script which is likely causing an issue.
In our fedora spec file we are doing
[code]
However, we have a conditional around this which is disabling running `check`.  I'm not sure when that happened, but I'm running a package build with the check enabled to see if it works.  I'm thinking this was done to speed up builds.

As for the location of

[2020-11-03 20:03] kloczek commented on #439
Fedora spec is IMO really odd.
It separates to many things in subpacklages juest because WeCan(tm) and without real justification and at the same time it is does sepatate libstoragemgmt library to be able use it n devel env without rest of the resources.

Here is the log content:
[code]

[2020-11-04 21:24] tasleson commented on #439
@kloczek

The intention was to allow users to install only what they needed.  However, I have to agree that the number of sub packages could be reduced.

I'm still trying to figure out how to best fix `%{python3_sitelib}` -> `%{python3_sitearch}`.

[2020-11-09 18:18] tasleson opened #440 "Use correct directory for python shared objects"
Compiled C extensions for python libraries should be placed in the `$(pyexecdir)`.  Additionally, the plugins should be installed in their own directories in `site-packages` because if they are python only they can be installed in `$(pythondir)`.  This will require changes to the plugins so that they don't use `lsm.plugin.<plugin name>`.

[2020-11-09 18:18] tasleson commented on #439
related: https://github.com/libstorage/libstoragemgmt/issues/440

[2020-11-09 18:24] tasleson commented on #439
@kloczek I'm able to run unit tests OK when enabled.

[2020-11-09 19:09] kloczek commented on #439
Please let me know if you have a patch/commit which I can try to test.

[2020-11-09 19:37] tasleson commented on #439
@kloczek From looking at your log content you posted, the script which sets up the test environment before running didn't find the `_clib.so` which is at the crux of your issue.

It did find the nfs shared library

`executing: cp -fv /home/tkloczko/rpmbuild/BUILD/libstoragemgmt-1.8.6/plugin/nfs/.libs/nfs_clib.so /tmp/11705/python_modules//lsm/plugin/nfs/nfs_clib.so`

I'm wondering why the file is

[2020-11-20 01:29] dmick opened #442 "SCSI INQUIRY length of 0xFFFF is fatal to Areca RAID controllers; 0x4000 is the max"
We have several lab systems using Areca 1680 controllers:

Areca Technology Corp. ARC-1680 series PCIe to SAS/SATA 3Gb RAID Controller [17d3:1680]

These are quite old, and the firmware is old as well (although updated to current level), but we're using them daily in a high-I/O-load environment (for Ceph OSDs).  A recent update to Ceph caused the machines to stop performing I/O to any drive on the

[2020-11-20 01:35] dmick commented on #442
Oh, I should mention that I can also reproduce the symptom with the 'sg_vpn' commandline program.  It allows setting max length, and setting 0x4000 is safe, 0x4001 is fatal.  (This is how I found the limit.)

[2020-11-20 14:39] tasleson commented on #442
@dmick Thank you for reporting this.  From reading the ceph issue it looks like they are providing some controls to disable.  We can certainly reduce our size and maybe add an environmental variable to allow it to be changed if needed in certain situations too.

[2020-11-20 15:58] tasleson commented on #442
@dmick Please let me know what would work best for you to test this change.

[2020-11-25 23:55] dmick commented on #442
So I am simply not sure what exactly is going wrong; I've tried lengths all the way down to 0x400 without success so far.  So I started examining the sg_inq algorithm; it looks like it sends inquiry commands with a 36-byte length to start, and then looks at the return to calculate a full length and sends another inquiry.  I'm going to see if I can adapt this to libstoragemgmt's algorithm and see i

[2020-11-25 23:57] dmick commented on #442
Also I should note that some of the id information returned by the card actually calls it a "ARC-1222".  I imagine 1680 is the compatible series.

[2020-11-26 00:18] dmick commented on #442
(and of course really I mean the EVPD bit form of inquiry, which sg_inq sends with a length of 252, commenting "largest one-byte count divisible by 4")

[2020-11-26 03:19] dmick commented on #442
See https://github.com/dmick/libstoragemgmt/commit/5482b545aa44ceca034b63149404d45f0d9ec9ba for a fix inspired by sg3_utils' sg_inq.  I want to try to run a full functional test against one of these controllers if I can figure out how to do it, but please comment (I can make it a PR if you like).

[2020-11-26 05:14] tasleson commented on #442
Please put in a PR, thanks

[2020-11-30 21:52] tasleson commented on #442
Resolved with https://github.com/libstorage/libstoragemgmt/pull/444

[2020-11-30 21:52] #442 closed

[2020-12-07 17:17] tasleson commented on #439
@kloczek Any update on this?  I need a bit more information so I can understand what's going on here.  If you want to send me your entire spec. file I can try to investigate, thanks.

[2020-12-10 22:27] tasleson commented on #439
@kloczek I've reworked the plugin locations to resolve the issue with python modules being in an incorrect location when they have compiled bits, ref. https://github.com/libstorage/libstoragemgmt/pull/448

[2021-02-10 17:07] tasleson commented on #440
Resolved with https://github.com/libstorage/libstoragemgmt/pull/448

[2021-02-10 17:07] #440 closed

[2021-02-10 17:09] tasleson commented on #256
Closing as we don't apparently have the output and Joe is no longer working with storage.

[2021-02-10 17:09] #256 closed

[2021-03-17 20:41] tasleson commented on #265
resolved with https://github.com/libstorage/libstoragemgmt/pull/455

[2021-03-17 20:41] #265 closed

[2021-03-19 16:58] #398 closed

[2021-03-23 18:54] #68 closed

[2021-03-24 15:21] tasleson commented on #439
If this is still an issue, please create a new issue with full spec. file.

[2021-03-24 15:21] #439 closed

[2021-03-28 08:55] kloczek opened #461 "1.9.0: test suite is failing"
[code]

[2021-04-14 20:12] tasleson commented on #461
https://github.com/libstorage/libstoragemgmt/issues/439#issuecomment-805916478

[2021-04-14 21:41] tasleson commented on #461
With this commit: 2335bdd2276d22578e0848764fa743e5709e8e11

I'm wondering why one of the following isn't in the log:

[code]
or

[code]

[2021-04-15 14:26] tasleson commented on #461
@kloczek What changes have you made to `test_include.sh`?

This is in your log:

[code]

This is the file in git
https://github.com/libstorage/libstoragemgmt/blob/df54e7d1826c34bb3219685a9c8c4d9aa56e6019/test/test_include.sh#L220-L237

[2021-05-19 20:18] k0ste opened #467 "1.9.2: mem_leak__lsmd tests failed"
Hi, when try to build 1.9.2 on ArchLinux at some step tests detect mem leak in lsmd (?)

[code]

I may upload a /tmp/ build folder

[2021-05-19 21:03] tasleson commented on #467
The logs seem to indicate that something more fundamental is amiss.  The logs are complaining of errors in debug info, even for files that aren't even part of libStorageMgmt, e.g.
[code]
Web searches seem to indicate that the issue maybe caused by incompatibilities with the compiler and valgrind, ref. https://gcc.gnu.org/pipermail/fortran/2021-January/055625.html in that GCC switched to defaulting

[2021-05-20 04:05] k0ste commented on #467
[Set this option](https://aur.archlinux.org/cgit/aur.git/commit/?h=libstoragemgmt&id=dff8dac4070e516930a2cbfbbdca63d28660de93), now `check()` is happy. Thanks

[2021-05-20 18:01] #467 closed

[2021-05-21 13:35] tasleson opened #468 "Update configure.ac and which plugins run during tests"
If you run configure `./configure --without-smispy`the expectation is that whatever specific requirements for that plugin do not need to be installed, but in this case we still require `pywbem` as the check is not enclosed in any kind of conditional.  Furthermore, if you comment out that requirement and build the library when you run `make check` it will fail as it will try to include the smispy p

[2021-06-25 18:51] tasleson commented on #461
Please re-open if you can supply requested information, thanks!

[2021-06-25 18:51] #461 closed

[2021-06-28 14:50] #468 closed

[2021-08-11 00:11] xxedgexx opened #479 "Unable to ident using lsmcli"
lsmcli local-disk-ident-led-on --path /dev/sdh
NO_SUPPORT(153): Failed to find any SCSI enclosure with given SAS address 5002538b71401ba2

lsmcli ldl
Path     | SCSI VPD 0x83    | Link Type | Serial Number  | Health Status
------------------------------------------------------------------------
/dev/sdb | 5000039ab84be73d | SAS       | 21N0A00UFWZB   | Good
/dev/sdc | 5000039ab84b9dcd | SAS

[2021-08-18 12:18] CirrusThink opened #480 "Cannot install libstoragemgmt on Ubuntu Focal following docs"
apt -qq list sqlite3
sqlite3/focal-updates,focal-security,now 3.31.1-4ubuntu0.2 amd64 [installed]

[code]

[2021-08-18 18:59] tasleson commented on #479
@xxedgexx Sorry for the delayed response.  The error is indicating that no SCSI enclosure service were found for the device specified, but it's likely that you don't have any.  To check, try running `lsscsi -g` and see if any devices are listed as an enclosure.

Normally I would suggest investigating a libStorageMgmt plugin for the RAID adapter, but the megaraid plugin does not support LED identif

[2021-08-18 20:45] tasleson commented on #480
@CirrusThink  Looks like your missing pkgconfig `./configure: line 3319: PKG_PROG_PKG_CONFIG: command not found`

The instructions [show](https://libstorage.github.io/libstoragemgmt-doc/doc/install.html)

[code]

However, that needs some updates, which would be:

[code]
Once that is done, this sequence should work:

[code]

I'll open a PR to update the `deb_dependency` file.  Thanks for reporting

[2021-08-19 12:42] CirrusThink commented on #480
Looks like PR failed to pass some tests, does this mean it will not merge ?

[2021-08-19 12:46] tasleson commented on #480
Yeah, I won't be merging it until it either passes or the failure can be explained as not a code issue.  The main failure is a packaging test for debian based installs which I have a local fix I need to push up.  I need to investigate the other array failure.

[2021-08-19 12:54] CirrusThink commented on #480
Tested on our Ubuntu Focal and it is working

[2021-08-19 20:56] #480 closed

[2021-09-07 14:52] tasleson opened #484 "local plugin requires arcconf and hpsa plugins to be installed, otherwise exception is thrown"
We need to handle when the plugin(s) aren't available or require they are available with packaging requirements.

[code]

[2022-02-15 16:09] tasleson opened #498 "Remove libxml2 dependency"
The library is using libxml for URI parsing and query strings parameters.  It should be fairly easy to remove this by implementing it internally, thus removing this entire dependency.

[2022-03-13 09:46] k0ste commented on #479
The same with LSI 3008 in HBA mode
[code]

[2022-04-25 18:23] tasleson commented on #498
resolved with https://github.com/libstorage/libstoragemgmt/pull/502

[2022-04-25 18:23] #498 closed

[2022-04-25 18:23] lkx007 commented on #498
您好，您的来信已收到，我将会尽快给您回复，谢谢~~

[2022-04-25 18:23] tasleson commented on #484
Solved with packaging requirements

[2022-04-25 18:23] #484 closed

[2022-11-06 11:27] k0ste opened #514 "tmpfiles: Line references path below legacy directory"
Got this on Archlinux with `systemd 251 (251.7-4-arch)`

[code]

[2022-11-07 15:02] tasleson commented on #514
Are you building and installing from source or using an installation package?

The messages `Line references path below legacy directory /var/run/,...` are caused by the current version in git which still uses old path.  The packaging I do for fedora and EL patch this for newer versions and leave as is for older versions.  I'll submit a PR which updates this so that what's in git better matches th

[2022-11-08 08:54] k0ste commented on #514
We are build package for Archlinux, the [source of package in AUR](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=libstoragemgmt). #515 should resolve this problem, thanks 🙂

[2022-11-08 14:20] tasleson commented on #514
#515 Merged, let me know if you would prefer to have me roll a new release to pick this up.

[2022-11-08 15:15] k0ste commented on #514
#516

[2022-11-08 15:15] #514 closed